.ui-listview-custom {
  top: 64px;
  list-style-type: none;
}
.motorist-admin-add-list {
    position: relative;
    margin: 0;
    padding: 3px 6px;
}
.ui-listview{
  background: #fff;
  list-style-type: none;
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 100%;
}