<div class="cnt-trip-vehicles">
    <div class="vehicles-sidebar box-shadow">
        <div class="trip-vehicles-header">
            <h3>Adicionar / Remover</h3>
            <i class="fa fa-question-circle ui-icon-info"></i>
        </div>
        <div class="trip-vehicles-ac">
		       <div class="cnt-autocomplete">
		            <sga-auto-complete 
      					  [data]="motorists"
      					  [propToFilter]="'documentId'"
		              minLength="3"
		              styleClass = "autocomplete"
		              noSuggestionsText="Nenhum motorista encontrado"
		              url="api/motorist/search?query="
		              placeholder="Digite o número do documento"
		              style="width: 100%;"
		              type="text"
		              (onCreateNew)="showMotoristForm($event)"
		              (itemSelected)="onMotoristSelected($event)">
		              <ng-template let-item="item">
		                <div class="autocomplete-suggestion">
		                  <span>
		                    <img class="img-autocomplete" src="{{'/assets/images/flags/' + item.country +'.png'}}"
		                      alt="">
		                    <img>
		                    <span>
		                      <span style="font-size: 16px; font-weight: 500; color: #324263; margin-left: 4px;">{{item.documentId}} </span>
		                      <span style="font-size: 14px; margin-left: 10px;">{{item.firstName}}, {{item.lastName}}</span>
		                    </span>
		                  </span>
		                </div>
		              </ng-template>
		            </sga-auto-complete>
		       </div>
     		</div>
       <div class="trip-vehicles-lv">
        <list-view [listItems]="addList" styleClass="admin-list motorist-admin-add-list">
          <list-view-item>
            <ng-template let-item="item">
              <div class="motorist-admin-add-item-valid">
                <span>({{item.documentId}})</span>
                <span style="font-weight: 500; margin-left: 8px">{{item.firstName}} {{item.lastName}}</span>
                <span (click)="undoAddMotorist(item)" class="fa fa-times motorist-admin-item-close" aria-hidden="true"></span>
              </div>
            </ng-template>
          </list-view-item>
          <list-view-empty>
            <ng-template>
                <div style="position: absolute; top: 50%; left: 0px; right: 0px; margin-top: -42px;">
                  <i style="color: #e9eaed; width: 100%; text-align: center; font-size: 40px; margin-bottom: 12px;"
                     class="fal fa-users"></i>
                  <span
                      style="width: 100%; text-align: center; display: block; color: #a5abb3; font-size: 12px;">Nenhuma motorista associado com à viagem</span>
                </div>
            </ng-template>
          </list-view-empty>
        </list-view>
       </div>
    </div>
    <div class="vehicle-detail box-shadow">
        <div class="trip-vehicles-header">
            <h3>Motorista</h3>
            <i class="fa fa-question-circle ui-icon-info"></i>
        </div>
        <div class=" columns cnt-details">
        	<div class="columns is-multiline is-marginless column is-12 is-paddingless">
        		<div class="column is-12 vehicle-detail-header is-paddingless">
        		    <h4>Dados Pessoais</h4>
        		    <i class="fa fa-question-circle ui-icon-info"></i>
        		</div>
        		<div  class="columns is-multiline column is-12 ">         		    
    		         <ul class="motorist-profile-info column is-3">
    		            <li class="motorist-profile-info-item">
  		                 <div style="width: 140px;height:140px;background:#aaaaaa;display: block;border: 5px solid #fff; box-shadow: 0px 0px 3px #333; background-image: url('/assets/layout/unknown_user.png');background-size: contain;">
                              <img *ngIf="selectedMotorist !=null"
                                   style="width: 192px; height: 192px;"
                                   src="{{'api/motorist/public/profileImage?id=' + selectedMotorist?.id}}"
                                   alt="">
                          </div>
  		              </li>
  		            </ul>
  		            <ul class="columns is-multiline  motorist-profile-info column is-9">
    		            <li class="column is-4 vehicle-profile-info-item">
    		                <h6 class="vehicle-info-title">Nome</h6>
    		                <span class="vehicle-info">-</span>
    		            </li>
    		            <li class="column is-4 vehicle-profile-info-item">
    		                <h6 class="vehicle-info-title">Documento</h6>
    		                <span class="vehicle-info">-</span>
    		            </li>
    		            <li class="column is-4 vehicle-profile-info-item">
    		                <h6 class="vehicle-info-title">Endereço</h6>
    		                <span class="vehicle-info">-</span>
    		            </li>
    		            <li class="column is-4 vehicle-profile-info-item">
    		                <h6 class="vehicle-info-title">Email</h6>
    		                <span class="vehicle-info">-</span>
    		            </li>
    		            <li class="column is-4 vehicle-profile-info-item">
    		                <h6 class="vehicle-info-title">Sobrenome</h6>
    		                <span class="vehicle-info">-</span>
    		            </li>
    		        </ul>
        		    
        		</div>
        	</div>
        </div>

        <div class=" columns cnt-details">
        	<div class="columns is-multiline is-marginless column is-12 is-paddingless">
        		<div class="column is-12 vehicle-detail-header is-paddingless">
        		    <h4>Perfil</h4>
        		    <i class="fa fa-question-circle ui-icon-info"></i>
        		</div>
        		<div  class="column is-12">         		    
    		        <ul class="columns is-multiline  motorist-profile-info ">
  		            <li class="column is-4 vehicle-profile-info-item">
		                <h6 class="vehicle-info-title">Ranking</h6>
                    <span class="vehicle-info">
                      <i class="stars fa fa-star" aria-hidden="true"></i>
                      <i class="stars fa fa-star" aria-hidden="true"></i>
                      <i class="stars fa fa-star" aria-hidden="true"></i>
                      <i class="stars fa fa-star" aria-hidden="true"></i>
                      <i class="stars fa fa-star" aria-hidden="true"></i>
                      <span style="padding-left: 8px">0%</span>
                 		</span>
  		            </li>
    		           <li class="column is-4 motorist-profile-metrics">
    		               <h6 class="vehicle-info-title">GR</h6>
    		               <span class="vehicle-info">
    		                       <span class="vehicle-info">
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <span style="padding-left: 8px">0%</span>
    		                   </span>
    		                   </span>
    		           </li>
    		           <li class="column is-4 motorist-profile-metrics">
    		               <h6 class="vehicle-info-title">Logística</h6>
    		               <span class="vehicle-info">
    		                       <span class="vehicle-info">
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <i class="stars fa fa-star" aria-hidden="true"></i>
    		                       <span style="padding-left: 8px">0%</span>
    		                   </span>
    		                   </span>
    		           </li>
    		           <li class="column is-4 motorist-profile-metrics">
    		               <h6 class="vehicle-info-title">Viagens</h6>
    		               <span class="vehicle-info">-</span>
    		           </li>
    		           <li class="column is-4 motorist-profile-metrics">
    		               <h6 class="vehicle-info-title">Quilômetros</h6>
    		               <span class="vehicle-info">-</span>
    		           </li>
    		           <li class="column is-4 motorist-profile-metrics">
    		               <h6 class="vehicle-info-title">Horas</h6>
    		               <span class="vehicle-info">-</span>
    		           </li>
    		           <li class="column is-4 motorist-profile-metrics">
    		               <h6 class="vehicle-info-title">Vídeos</h6>
    		               <span class="vehicle-info">-</span>
    		           </li>
    		           <li class="column is-4 motorist-profile-metrics">
    		               <h6 class="vehicle-info-title">Restrições</h6>
    		               <span class="vehicle-info">-</span>
    		           </li>
    		            
    		        </ul>
        		    
        		</div>
        	</div>
        </div>
    </div>
</div>
