<div class="cnt-dialog">
  <div class="container-form">
    <div class="form-header columns column is-12 is-marginless">
      <h3 class="area column is-narrow">Operação</h3>
      <h2 class="action column">Cadastro</h2>
    </div>
    <div class="container-scroll">
      <form #formOperation="ngForm" (ngSubmit)="onSubmit(formOperation)" class="form">
        <div class="field-body field">
          <div class="field is-3 column is-paddingless">
            <label class="label is-small">Descrição da Operação</label>
            <div class="control">
              <input class="input is-small" type="text" placeholder="Descrição da Operação">
            </div>
          </div>
          <div class="field is-3 column is-paddingless">
            <label class="label is-small">Observação</label>
            <div class="control">
              <input class="input is-small" type="text" placeholder="Observação" value="Em viagem" >
            </div>
          </div>
          <div class="field">
            <label class="label is-small">Exige check-list:</label>
            <div class="select is-small">
              <select >
                <option>Sim</option>
                <option>Não</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label class="label is-small">Validade check-list(dias)</label>
            <div class="select is-small">
              <select >
                <option>0</option>
                <option>15</option>
                 <option>25</option>
                  <option>35</option>
                   <option>45</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label class="label is-small">Aguarda sinal(horas)</label>
            <div class="select is-small">
              <select >                
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
            </div>
          </div>           
        </div>
        <div class="field-body field">
          <div class="field is-3 column is-paddingless">
            <label class="label is-small">Impressão de Viagem:</label>
            <div class="select is-small">
              <select >
                <option>Sim</option>
                <option>Não</option>
              </select>
            </div>
          </div>
          <div class="field is-3 column is-paddingless">
            <label class="label is-small">Embarcar configuração no veículo:</label>
            <div class="select is-small">
              <select >
                <option value="NÃO EMBARCAR">NÃO EMBARCAR</option>
                <option value="">EMBARCAR CONF. PADRÃO</option>
                <option value="">EMBARCAR CONF. POR VIAGEM</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label class="label is-small">Empresa de pesquisa:</label>
            <div class="select is-small">
              <select >
                <option>NENHUM</option>
                <option>MAXX</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label class="label is-small">Limite Máximo Garantia (LMG):</label>
            <div class="control">
              <input class="input is-small" type="text" placeholder="" value="" >
            </div>
          </div>
          <div class="field">
            <label class="label is-small">Aprovação Aut.:</label>
            <div class="select is-small">
              <select >                
                <option value="">Sim</option>
                <option value="">Não</option>            
              </select>
            </div>
          </div>           
        </div>
         <div class="field-body field">
            <div class="field is-3 column is-paddingless">
              <label class="label is-small">Define Faixa de Horário</label>
              <div class="control">
                <input class="input is-small" type="text" placeholder="Define Faixa de Horário">
              </div>
            </div>
            <div class="field is-2 column is-paddingless">
              <label class="label is-small">Inicio</label>
              <div class="control">
                <input class="input is-small" type="time">
              </div>
            </div>
             <div class="field is-2 column is-paddingless">
              <label class="label is-small">Fim</label>
              <div class="control">
                <input class="input is-small" type="time">
              </div>
            </div>
          </div>
       


        <div class="field-body field">
          <div class="control">
            <button class="button" (click)="onCancel()" >Cancelar</button>
          </div>
          <div class="control">
            <button class="button is-info" [disabled]="!formOperation.valid">Cadastrar</button>
          </div>
       </div>
        
      </form>
    </div>
  </div>
</div>