
<div class="modal-box" [ngClass]="showForm ? 'opened-modal' : ''">
  <div class="container-form content-modal">
    <div class="container-dialog-header columns column is-12 is-marginless">
      <div class="area column is-narrow">
        <h3 >Cadastro de Operação</h3>  
      </div>
      <div class="column btn-close"> 
         <i  (click)="cancel()" class="fal fa-times is-pulled-right"></i>
      </div>      
    </div>
    <div class="container-scroll">    
      
      <form novalidate class="cnt-form" #formMotorist="ngForm">
          <sga-tabs 
            [tabIndex]="selectedTabIndex"
            styleClass="tabs no-margin tabs-register">

            <sga-tab heading="Geral">

                  <!-- Geral -->
                  <div class="cnt-info columns is-multiline">    
                    <div class="column  is-6">
                      <label class="label is-small">Descrição da Operação</label>
                      <div class="control">
                        <input class="input is-small" type="text" placeholder="Descrição da Operação">
                      </div>
                    </div>
                    <div class="column  is-6">
                      <label class="label is-small">Observação</label>
                      <div class="control">
                        <input class="input is-small" type="text" placeholder="Observação" value="Em viagem" >
                      </div>
                    </div>
                    <div class="is-3 column">
                      <label class="label is-small">Regra para inicio de viagem</label>
                      <div class="control">                            
                          <input class="styled-checkbox" id="Por Raio Inicio" type="checkbox" name="byRadiusBegin">
                          <label for="Por Raio Inicio">Por Raio</label>
                                              
                           <input class="styled-checkbox" id="Por Macro Inicio" type="checkbox" name="byMacroBegin">
                           <label for="Por Macro Inicio">Por Macro</label>
                       </div>
                    </div>
                    <div class="is-3 column">
                      <label class="label is-small">Regra para fim de viagem</label>
                      <div class="control">                            
                          <input class="styled-checkbox" id="Por Raio Fim" type="checkbox" name="byRadiusEnd">
                          <label for="Por Raio Fim">Por Raio</label>
                                              
                           <input class="styled-checkbox" id="Por Macro Fim" type="checkbox" name="byMacroEnd">
                           <label for="Por Macro Fim">Por Macro</label>
                       </div>
                      
                    </div>


                 </div>                    


            </sga-tab>

            <sga-tab heading="Regras GR">
              <!-- Regras GR -->
                  <div class="cnt-info columns" style="align-items: flex-start;">
              
                    <div class="columns column is-multiline">                                
          
                  
                    </div>  
                  </div>
            </sga-tab>
        

        </sga-tabs>
            <!-- Botões de Ação -->
        <div class="cnt-buttons">
        
            
              <button class="button" (click)="cancel()">Cancelar</button>
            
                  
              <button type="submit"
                      class="button is-first"
                      [disabled]="formMotorist.invalid">Cadastrar
              </button>
            
          
        </div>
      </form>
  
    </div>
  </div>
</div>





