.cnt-places-autocomplete{
  padding: 18px 0;
}
.container-grid {
  margin-top: 6em;
  right: 0px;
  left: 0px;
  bottom: 0;
  background:#FFF;
}
.cnt-places-header{
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  left: 0;
  &::before{
    content: "";
    background: #4f5564;
    width: 100%;
    height: 164px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  h1{
    font: 300 18.5px 'Sunflower', sans-serif;
    color:white;
    text-transform: uppercase;    
    position: relative;
    z-index: 3;
    padding: 12px;
  }
}
.places-autocomplete{
  input{
    background: none;
    border: none;
    color:#FFF;
    border-bottom: 1px solid #858594;
    box-shadow:none;
    font-size: 14px;
    font-weight:300;
    &:focus .icon{
       color:#858594;
    }
    &::-webkit-input-placeholder{
         color: rgba(206,209,220,0.8) !important;
    }
  }
}

.btn-places-add{
    border-radius: 50%;
    color: #FFF;
    background: #858594;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 38px;
    font-weight: 300;
    position: absolute;
    padding: 18px 14px;
    line-height: 15px;
    bottom: 30px;
    right: 36px;

    &:hover{

    }
}
