.trip-places-header {
  color: #38425b;
  padding: 0 0 6px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
}

.container-grid {
  margin-top: 6em;
  right: 0px;
  left: 0px;
}
