<ul class="steps is-narrow is-medium is-centered has-content-centered" [ngStyle]="{width: width}">
  <li class="steps-segment">
    <a href="#" class="has-text-dark">
      <span class="steps-marker">
        <span class="icon">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </span>
      <div class="steps-content">
        <p class="heading">Geral</p>
      </div>
    </a>
  </li>
  <li class="steps-segment">
    <a hef="#&quot;" class="has-text-dark">
      <span class="steps-marker">
        <span class="icon">
          <i class="fa fa-user"></i>
        </span>
      </span>
      <div class="steps-content">
        <p class="heading">Motorista</p>
      </div>
    </a>
  </li>
  <li class="steps-segment">
    <span class="steps-marker">
      <span class="icon">
        <i class="fa fa-usd"></i>
      </span>
    </span>
    <div class="steps-content">
      <p class="heading">Veículo</p>
    </div>
  </li>
  <li class="steps-segment">
    <span class="steps-marker">
      <span class="icon">
        <i class="fa fa-usd"></i>
      </span>
    </span>
    <div class="steps-content">
      <p class="heading">Reboque</p>
    </div>
  </li>
  <li class="steps-segment is-active has-gaps">
    <span class="steps-marker">
      <span class="icon">
        <i class="fa fa-usd"></i>
      </span>
    </span>
    <div class="steps-content">
      <p class="heading">Dispositivos</p>
    </div>
  </li>
  <li class="steps-segment">
    <span class="steps-marker is-hollow">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </span>
    <div class="steps-content">
      <p class="heading">Itinerário</p>
    </div>
  </li>
</ul>