:host{

}
.cnt-sidebar-configuration{

	.trigger{
		color: #8d8e9e;
    position: relative;
    right: 47px;
    border-radius: 3px;
    font-size: 14px;
    top: 23px;
    padding: 8px;
    border: 1px solid #afb2d8;
    transition:all 90ms ease;

		&:hover,
		&:focus{
			border: 1px solid #afb2d8;
			background:#afb2d8;
			color:#FFF;
		}
    span{
     		padding: 0 6px;
     }
	}
	.trigger.opened{
		background:#afb2d8;
		color:#FFF;
	}
	.cnt-configuration-menu.opened{
    opacity: 1;    
    top: 56px;
    z-index: 99999;
	}
	.cnt-configuration-menu{
		position: absolute;
		border: 1px solid #c9cad0;
		top: 40px;	 
		right:26px; 
	  opacity: 0;
	  background:#FFF; 
	  z-index: 0;
	  min-width: 158px;
    top: 53px;
	  border-radius:3px;
	  transition:all 250ms ease;
	  -webkit-box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);

	  span{
	  	font-size: 14px;
	    margin: 2px 5px 4px 5px;
	    display: block;
	    padding: 4px 0px;
	    color: #6b7280;
	    border-bottom: 1px solid #d9dce0;
	  }
		ul{
			padding: 3px 0px;
		  li{
		  	a{
		  		color:#afb2d8;
		  		font-size: 12.5px;
    			    padding: 7px 14px;
		  		display: block;
		  		transition:all 250ms ease;

		  		&:hover{
		  			background: #afb2d8;
		  			color:#FFF;
		  		}
		 	 }

		  }
		}

	}


}

