.cnt-sidebar-configuration{

	.trigger{
		color: #7e8492;
    position: relative;
    right: 24px;
	}
	ul{
		position: absolute;
	  right: 10px;
	  background:#FFF; 
	  z-index: 99999;
	  width: 233px;
	  bottom: 0;
	  top: 27px;
	  border: 1px solid #cecece;
	  border-radius:3px;

	  li{

	  	a{

	  		color:#afb5c1;
	  		font-size:13.5px;
	  		padding:3px;
	  		display: block;
	  		&:hover{
	  			background: #afb5c1;
	  			color:#FFF;
	  		}
	 	 }

	  }
	}

}

