<div class="column is-12 is-paddingless box-shadow">
  <h5 class="trip-title">Dados da Viagem</h5>
  
  <div class="block column columns is-12 is-multiline">
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Id Cliente" name="Doc. Cliente" #idClient ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Mercadoria/Produto" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Valor total do embarque" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Peso total (kg)" name="firstName" #idClient ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Previsão inicio" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Previsão fim" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Operação" name="firstName" #idClient ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Tipo" name="type" #type ngModel>
      </div>
    </div>
    <div class="column is-4">
     <div class="field">
       <div class="control">
         <div class="select">
           <select name="route" #route ngModel>
             <optioo value="">Percurso</option>
             <option value="Rodoviário">RODOVIÁRIO</option>
             <option value="Urbano">URBANO</option>
             <option value="Rodoviário/Urbano">RODOVIÁRIO/URBANO</option>
           </select>
         </div>
       </div>
     </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Transportadora" name="firstName" #idClient ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Valor" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Peso" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-12">
      <div class="control">
        <input class="input" type="text" placeholder="Observação" name="firstName" #firstName ngModel>
      </div>
    </div>
  </div>
</div>