
<div class="modal-box" [ngClass]="showModal ? 'opened-modal' : ''">
  <div class="container-form content-modal">
    <div class="container-dialog-header columns column is-12 is-marginless">
      <div class="area column is-narrow">
        <h3>Confirmação</h3>  
      </div>
      <div class="column btn-close"> 
         <i  (click)="cancel()" class="fal fa-times is-pulled-right"></i>
      </div>      
    </div>
    <div class="container-scroll columns column is-12 is-marginless">    
      
      <form novalidate class="column is-12 is-marginless" #formSendCommand="ngForm">
      
    
        
        <div class="field-body field">
          <i class="fal fa-question-circle"></i>
          <label class="label">Tem certeza que deseja enviar a viagem 2407896 para o grupo CTO?</label>
        </div>
  


        <!-- Botões de Ação -->
        <div class="cnt-buttons is-pulled-right">       
            
          <button class="button" (click)="cancel()">Cancelar</button>
        
              
          <button type="submit"
                  class="button is-first"
                  >Enviar mensagem
          </button>
          
          
        </div>
      </form>
  
    </div>
  </div>
</div>