
<div class="modal-box" [ngClass]="showModal ? 'opened-modal' : ''">
  <div class="container-form content-modal">
    <div class="container-dialog-header columns column is-12 is-marginless">
      <div class="area column is-narrow">
        <h3 >Enviar comando</h3>  
      </div>
      <div class="column btn-close"> 
         <i  (click)="cancel()" class="fal fa-times is-pulled-right"></i>
      </div>      
    </div>
    <div class="container-scroll columns column is-12 is-marginless">    
      
      <form novalidate class="column is-12 is-marginless" #formSendCommand="ngForm">
      
    
          <div class="field-body field">
            <div class="field">
              <label class="label is-small">Placa</label>
              <div class="control">
                <span>BBH-1332</span>
              </div>
            </div>
            <div class="field">
              <label class="label is-small">Tecnologia</label>
              <div class="control">
               
                <span>AUTOTRAC</span>
              </div>
            </div>
         
            <div class="field">
              <label class="label is-small">ID</label>
              <div class="select is-small">
                  <span>8026726737</span>
              </div>
            </div>
         
          </div>
          <div class="field-body field">
          
          
            <div class="field">
              <label class="label is-small">ID</label>
              <div class="select is-small">
                  <span>8026726737</span>
              </div>
            </div>
          
          </div>
  


        <!-- Botões de Ação -->
        <div class="cnt-buttons is-pulled-right">       
            
          <button class="button" (click)="cancel()">Cancelar</button>
        
              
          <button type="submit"
                  class="button is-first"
                  >Enviar Comando
          </button>
          
          
        </div>
      </form>
  
    </div>
  </div>
</div>