
<div class="modal-box" [ngClass]="showModal ? 'opened-modal' : ''">
  <div class="container-form content-modal">
    <div class="container-dialog-header columns column is-12 is-marginless">
      <div class="area column is-narrow">
        <h3 >Enviar comando</h3>  
      </div>
      <div class="column btn-close"> 
         <i  (click)="cancel()" class="fal fa-times is-pulled-right"></i>
      </div>      
    </div>
    <div class="container-scroll columns column is-12 is-marginless">    
      
      <form novalidate class="column is-12 is-marginless" #formSendCommand="ngForm">
      
    
          <div class="field-body field">
            <div class="field">
              <label class="label is-small">Placa</label>
              <div class="is-smal">
                <span>BBH-1332</span>
              </div>
            </div>
            <div class="field">
              <label class="label is-small">Tecnologia</label>
              <div class="is-smal">               
                <span>AUTOTRAC</span>
              </div>
            </div>
         
            <div class="field">
              <label class="label is-small">ID</label>
              <div class="is-small">
                  <span>8026726737</span>
              </div>
            </div>
         
          </div>
          <div class="field-body field">
            <div class="field">
              <label class="label is-small">Comandos</label>             
              <div class="control">
                <input class="input is-small" type="text" placeholder="Buscar...">
              </div>
            </div>
                  
          </div>
          <div class="field-body field">         
            <div class="field">             
                  
             
              <ul class="list-commands" slimScroll>
                <li class="item">                  
                  <input value="Ativar Porta" id="Ativar Porta" type="checkbox">
                  <label for="Ativar Porta">Ativar Porta</label>
                </li>
                <li class="item">                 
                   <input value="Última posição" id="Última posição" type="checkbox">
                   <label for="Última posição">Última posição</label>
                </li>
                <li class="item">                  
                  <input value="Ativar controle RPM" id="Ativar controle RPM" type="checkbox">
                  <label for="Ativar controle RPM">Ativar controle RPM</label>
                </li>
                <li class="item">                 
                   <input value="Desabilitar sensor de porta do Carona" id="Desabilitar sensor de porta do Carona" type="checkbox">
                   <label for="Desabilitar sensor de porta do Carona">Desabilitar sensor de porta do Carona</label>
                </li>
                <li class="item">                  
                  <input value="Reinicializar Teclado" id="Reinicializar Teclado" type="checkbox">
                  <label for="Reinicializar Teclado">Reinicializar Teclado</label>
                </li>
                <li class="item">                 
                   <input value="Habilitar Botão de trava de Baú" id="Habilitar Botão de trava de Baú" type="checkbox">
                   <label for="Habilitar Botão de trava de Baú">Habilitar Botão de trava de Baú</label>
                </li>
                <li class="item">                  
                  <input value="Comando II" id="Comando II" type="checkbox">
                  <label for="Comando II">Comando II</label>
                </li>
                <li class="item">                 
                   <input value="Comando 3" id="Comando 3" type="checkbox">
                   <label for="Comando 3">Comando 3</label>
                </li>
                <li class="item">                  
                  <input value="Alarme" id="Alarme" type="checkbox">
                  <label for="Alarme">Alarme</label>
                </li>
                <li class="item">                 
                   <input value="Comando 4" id="Comando 4" type="checkbox">
                   <label for="Comando 4">Comando 4</label>
                </li>
                <li class="item">                  
                  <input value="Enviar locaçização" id="Enviar locaçização" type="checkbox">
                  <label for="Enviar locaçização">Enviar locaçização</label>
                </li>
               
              </ul>
            
            
            </div>
          
          </div>
  


        <!-- Botões de Ação -->
        <div class="cnt-buttons is-pulled-right">       
            
          <button class="button" (click)="cancel()">Cancelar</button>
        
              
          <button type="submit"
                  class="button is-first"
                  >Enviar Comando
          </button>
          
          
        </div>
      </form>
  
    </div>
  </div>
</div>