<div slimScroll style="    height: 74vh;">
  <div id="print-section" class="summary-print">
    <h3 class="print-title">Resumo viagem #123332</h3>

    <div class="cnt-trip-data">
      <h4>
        Dados da viagem
      </h4>
      <div class="field-body field">
        <div class="field">
          <label class="label is-small">Chave Documento</label>
          <div class="control">
            <span>{{state.generalInfos.keyDocument}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Mercadoria/Produto</label>
          <div class="control">
           
            <span>Mercadoria/Produto</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Valor total do embarque</label>
          <div class="select is-small">
           <span>R$</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Peso total</label>
          <div class="select is-small">
            <span>KG</span>
          
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Operação</label>
          <div class="select is-small">
              <span>Operação</span>
          </div>
        </div>
         <div class="field">
          <label class="label is-small">Tipo</label>
          <div class="select is-small">
            <span>Tipo</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Percurso</label>
          <div class="select is-small">
             <span>Percurso</span>
          </div>
        </div>
      </div>
      <div class="field-body field"> 
        <div class="field">
          <label class="label is-small">Transportadora</label>
          <div class="control">
           <span>Transportadora</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Cod. Liberação</label>
          <div class="control">
            <span>PL00987646</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Observação</label>
          <div class="control">
            <span>OBS</span>
          </div>
        </div>
       
      </div>


    </div>

    <div class="cnt-trip-data">
      <h4>
        Itinerário
      </h4>
      <div class="field-body field">
        <div class="field">
          <label class="label is-small">Prev. Fim</label>
          <div class="control">
           <span>29/07/2018 08:00</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Fim real</label>
          <div class="control">
            <span>30/07/2018 08:00</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Rota</label>
          <div class="control">
            <span>SP X GYN X SZL X FOR</span>
          </div>
        </div>
      </div>   
    </div>
    <div class="cnt-trip-data">
      <h4>
        Motorista(s)
      </h4>
      <div class="field-body field">
        <div class="field">
          <label class="label is-small">Nome</label>
          <div class="control">
           <span>Gustavo Gandolfo</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Documento</label>
          <div class="control">
            <span>21632082810</span>
          </div>
        </div>
      </div>    
        
    </div>
    <div class="cnt-trip-data">
      <h4>
        Veículo(s)
      </h4>
      <div class="field-body field">
        <div class="field">
          <label class="label is-small">Tipo</label>
          <div class="control">
           <span>Carreta</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">PLaca</label>
          <div class="control">
            <span>BBZ-7923</span>
          </div>
        </div>
      </div>    
        
    </div>

    <div class="cnt-trip-data">
      <h4>
        Reboque(s)
      </h4>
      <div class="field-body field">
        <div class="field">
          <label class="label is-small">Tipo</label>
          <div class="control">
           <span>Carreta</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">PLaca</label>
          <div class="control">
            <span>BBZ-7923</span>
          </div>
        </div>
      </div>    
        
    </div>
    <div class="cnt-trip-data">
      <h4>
        Dispositivo(s)
      </h4>
      <div class="field-body field">
        <div class="field">
          <label class="label is-small">Nome</label>
          <div class="control">
           <span>newest</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Modelo</label>
          <div class="control">
           <span>Modelo</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Tecnologia</label>
          <div class="control">
            <span>7775EBB</span>
          </div>
        </div>
      </div>    
        
    </div>



    </div>
    


  <div class="btns">
    <a class="button is-light" (click)="print()">Imprimir</a>
    <a class="button is-first" href="">Salvar</a>
  </div>
</div>
