.cnt-trip-data {
    margin-bottom: 1rem;
    h4{
        font-size:13px;
        font-weight:bold;
        color:#5b709e;
        margin-bottom: 0.4rem;
    }
}
.btns{
  display: flex;
  justify-content: flex-end;
  a{
    margin: 0 5px;
  }
}
.summary-print {
  span{
    color:#888;
    font-size: 14px;
  } 
}

.slimscroll-grid{
  transition:all 200ms ease !important;
  width:4px !important;
  background: rgba(0,0,0,0.2) !important;
  opacity:0 !important;
      
}
.slimscroll-bar{
  transition:all 200ms ease !important;
  width:4px !important;
  background: rgba(0,0,0,0.3) !important;
  right: 2px !important; 
  opacity:0 !important;
}
.slimscroll-wrapper:hover .slimscroll-bar{
  transition:all 200ms ease !important;
  width:4px !important;
  opacity:1 !important;

  background: rgba(0,0,0,0.3) !important;
  right: 2px !important;
}
.slimscroll-wrapper:hover  .slimscroll-grid{
  transition:all 200ms ease !important;
  width:4px !important;

  background: rgba(0,0,0,0.2) !important;

}
