<div slimScroll style="    height: 74vh;">
  <div id="print-section" class="summary-print">
    <h3 class="print-title">Resumo viagem #123332</h3>

    <div class="cnt-trip-data">
      <h4>
        Dados da viagem
      </h4>
      <div class="field-body field">
        <div class="field">
          <label class="label is-small">Chave Documento</label>
          <div class="control">
            <span>{{state == null ? '-' : state.generalInfos?.keyDocument}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Documento</label>
          <div class="control">
           
            <span>{{state == null ? '-' : state.generalInfos?.documentValue}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Mercadoria/Produto</label>
          <div class="control">
           <span> {{state == null ? '-' : state.generalInfos?.kindOfProduct}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Valor total do embarque</label>
          <div class="control">
            <span>{{state == null ? '-' : state.generalInfos?.totalAmount}} </span>
          
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Peso Total</label>
          <div class="control">
              <span>{{state == null ? '-' : state.generalInfos?.totalWeight}} KG</span>
          </div>
        </div>
      </div>


    </div>

    <div class="cnt-trip-data">
      <h4>
        Itinerário
      </h4>
      <div class="field-body field">
        <div class="field">
          <label class="label is-small">Prev. Fim</label>
          <div class="control">
           <span>{{state == null ? '-' : state.itinerary?.timeStart}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Fim real</label>
          <div class="control">
            <span>{{state == null ? '-' : state.itinerary?.timeEnd}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Rota</label>
          <div class="control">
            <span>{{state == null ? '-' : state.itinerary?.name}}</span>
          </div>
        </div>
      </div>   
    </div>
    <div class="cnt-trip-data">
      <h4>
        Motorista(s)
      </h4>
      <div *ngFor="let motorist of state.motorists" class="field-body field">
        <div class="field">
          <label class="label is-small">Nome</label>
          <div class="control">
           <span>{{motorist.firstName}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Documento</label>
          <div class="control">
            <span>{{motorist.documentId}}</span>
          </div>
        </div>
      </div>    
        
    </div>
    <div class="cnt-trip-data">
      <h4>
        Veículo(s)
      </h4>
      <div *ngFor="let vehicle of state.vehicles" class="field-body field">
        <div class="field">
          <label class="label is-small">Tipo</label>
          <div class="control">
           <span>{{vehicle.type}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">PLaca</label>
          <div class="control">
            <span>{{vehicle.vehiclePlate}}</span>
          </div>
        </div>
      </div>    
        
    </div>

    <div class="cnt-trip-data">
      <h4>
        Reboque(s)
      </h4>
      <div *ngFor="let trailer of state.trailers"  class="field-body field">
        <div class="field">
          <label class="label is-small">Tipo</label>
          <div class="control">
           <span>{{trailer.type}}</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">PLaca</label>
          <div class="control">
            <span>{{trailer.vehiclePlate}}</span>
          </div>
        </div>
      </div>    
        
    </div>
    <div class="cnt-trip-data">
      <h4>
        Dispositivo(s)
      </h4>
      <div *ngFor="let trailer of state.trailers" class="field-body field">
        <div class="field">
          <label class="label is-small">Nome</label>
          <div class="control">
           <span>newest</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Modelo</label>
          <div class="control">
           <span>Modelo</span>
          </div>
        </div>
        <div class="field">
          <label class="label is-small">Tecnologia</label>
          <div class="control">
            <span>7775EBB</span>
          </div>
        </div>
      </div>    
        
    </div>



    </div>
    


  <div class="btns">
    <a class="button is-light" (click)="print()">Imprimir</a>
    <a class="button is-first" href="">Salvar</a>
  </div>
</div>
