<div *ngIf="showDialog" class="modal-box opened-modal">	
	<div class="columns">
		<div class="content-modal is-multiline columns">
			<div class="column is-narrow" style="width: 130px;">
				<sga-steps [isVertical]="true" [width]="'90%'" (onSelectStep)="onSelectStep($event)">
			    <sga-step [header]="'Resumo'" [icon]="'fal fa-home'"></sga-step>
			    <sga-step [header]="'Motorista'" [icon]="'fal fa-user'"></sga-step>
			    <sga-step [header]="'Veículo'" [icon]="'fal fa-truck'"></sga-step>	 
			    <sga-step [header]="'Itinerário'" [icon]="'fal fa-map'"></sga-step>	    
			  </sga-steps>
			</div>
		  <div class="column">
				<div [ngSwitch]="selectedStepIndex">
					<sga-summary *ngSwitchCase="0" [trip]="trip"></sga-summary>
					<sga-summary-motorist *ngSwitchCase="1" [motorists]="trip.motorists"></sga-summary-motorist>
					<sga-summary-vehicle *ngSwitchCase="2" [vehicles]="trip.vehicles"></sga-summary-vehicle>
					<sga-summary-itinerary *ngSwitchCase="3"></sga-summary-itinerary>
				</div>
			</div>
			<div class="column is-12">
				<button (click)="onClose()" class="button is-pulled-right">Fechar</button>
			</div>
	 		
		</div>
	</div>
</div>
