.container-dialog{
    background-color: #FFF;
    margin: 2.5rem auto 0 auto;
    width: 90%;
    max-width: 1200px;
    height: 90%;
}
.content-modal{
  background-color: #FFF;
  width: 100%;
  max-width:1000px;
  height: 90%;
  background: #ffffff;
  -webkit-box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1); 
}