<div class="dialog">
  <div class="container-dialog-modal">
    <list-view
      [listItems]="groups"
      emptyMessage="Não há nenhum grupo"
      styleClass="admin-list motorist-admin-add-list">
      <list-view-item>
        <ng-template let-item="item">
          <div class="motorist-admin-add-item-valid" (click)="selectGroup(item)">
            <span style="font-weight: 500; margin-left: 8px">{{item.name}}</span>
          </div>
        </ng-template>
      </list-view-item>
    </list-view>
    <button class="button is-pulled-right" (click)="close()">Fechar</button>
  </div>
</div>
