<section>
  <div class="wrapper-flex">
    <i *ngIf="!showRegister" class="fal fa-arrow-left" (click)="backButton()"></i>
    <input type="text" [ngModel]="group.name">
  </div>

  <div class="content">
    <sga-register 
      *ngIf="showRegister"
      (onSubmitForm)="registerNewItem($event)"
      (onBackButton)="backButton()"
      (onPlaceSelected)="onSelected($event)">
    </sga-register>

    <sga-grid-control 
      *ngIf="!showRegister"
      marginTop="9"
      title="Locais do grupo"
      [data]="group.location"
      (onItemSelected)="onSelected($event)"
      (onRegisterClick)="showCreateNew()">
    </sga-grid-control> 
    
  </div>
</section>