.cnt-dialog{
    background:rgba(0,0,0,0.15)
}
 .box {
    z-index: 99999 !important;
    position: absolute;
    padding: 20px;
    left: 22px;
    margin: auto;
    max-height: 70%;
    overflow-y: scroll;
    width: 327px;
    top: 155px;
    right: 0;
    background-color: #FFF;
    
    li{
        margin: 4px 2px;
    }
  }