<div class="cnt-dialog" data-hide="hide" (click)="closeBox($event.target.dataset.hide)">
  <div class="box">
    <h3>Selecione as colunas:</h3>
    <ul>
      <li *ngFor=" let column of columns; let i = index ">        
         <input class="styled-checkbox" id="check_{{i}}" type="checkbox" [checked]="columnInPreferences(column)" >
         <label (click)="onToggle(column)" for="check_{{i}}"> {{column}} </label>
      </li>
    </ul>
    <a (click)="closeBox('hide')" class="button is-pulled-right"> OK</a>
</div>
</div>
