<div [ngClass]="styleClass" class="columns level-left">
  <div class="column is-4 level-left">
    <p class="control has-icons-left">
      <input 
        #input
        [(ngModel)]="placeText"
        class="input is-small"
        (keyup)="onPlacesKeyUp()"
        type="text"
        placeholder="Endereço / Região">
      <span class="icon is-small is-left">
        <i class="fal fa-map-marker-alt"></i>
      </span>
    </p>
  </div>

  <div class="column is-4">
    <p class="control has-icons-left">
      <input 
        [(ngModel)]="distance"
        [disabled]="location === null"
        (keyup)="onDistanceKeyUp()"
        type="text"
        class="input is-small"
        placeholder="Distância (KM)">
      <span class="icon is-small is-left">
        <i class="fal fa-ruler-horizontal"></i>
      </span>
    </p>
  </div>
</div>