<div class="columns header-content">
  <nav  class="breadcrumb column is-8" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="is-active"><a href="#">Gerenciamento de Risco</a></li>
      <li class="is-active"><a href="#">Monitoramento</a></li>
      <li class="is-active"><a href="#" aria-current="page">Em viagem</a></li>
    </ul>
  </nav>
  <div class="columns column is-4 header-content-right">    
    <sga-sidebar-configuration  (onSelectOption)="onSelectOption($event)" class="column is-6">
      <sga-option header="Seleção de Colunas"></sga-option>
    </sga-sidebar-configuration>
  </div>  
</div>
<sga-modal  *ngIf="showColumnSelector">
  <sga-column-selector   
    [columns]="headers"
    (onToggleItem)="onToggleItem($event)"
    (onClose)="closeColumnSelector()">
  </sga-column-selector>
</sga-modal>
   
<div class="content-wrapper content-grid-motorist grid-spacing-search">
  <div [ngClass]="styleClass" class="columns level-left">
    <div class="column is-3">     
      <p class="control has-icons-left"> 
        <input [(ngModel)]="text" class="input is-small"  placeholder="Buscar" type="text"/>
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>       
      </p>
    </div>
    <sga-map-filter 
      (placesFiltered)="onPlacesFiltered($event)" 
      (filterRemoved)="onPlacesFilterRemoved()"
      class="column is-12">
    </sga-map-filter>
  </div>

  <div class="container-grid container-grid-wrapper">
    <data-table 
      [data]="trips | placesFilter: [filterLocation, filterDistance, 'location.latitude', 'location.longitude']"
      [dataLength]="trips.length"
      [searchText]="text" 
      [searchColumns]="['id','motorists.documentId','currentState.Status','motorists.documentId','motorists.documentId']"
      [emptySearchText]="'nenhuma viagem foi encontrado'" 
      [haveFooter]="haveFooter"
      (onCellClick)="updateSelectedTrip($event)"
          [filterHeaders]="filterHeaders"
      (whenHeaderReady)="whenHeaderReady($event)">
      <table-empty>
        <ng-template>
            <!-- <div *ngIf="dataLoading"
                  style="position: absolute; top: -40px; bottom: 0px; left: 0px; right: 0px">
                <spinner></spinner>
            </div> -->
            <div *ngIf="!dataLoading" style="position: absolute; top: 50%; left: 0px; right: 0px; margin-top: -20px;">
            <i class="glyphicons glyphicons-group" style="color: #e9eaed; width: 100%; text-align: center; font-size: 20px; margin-bottom: 12px;"></i>
            <span style="width: 100%; text-align: center; display: block; color: #a5abb3; font-size: 12px;">Nenhuma Viagem foi encontrado</span>
          </div>
        </ng-template>
    	</table-empty>  
      <column [key]="'clientId'" [header]="'Id'" [minWidth]="'82'" [isSortable]="true">
        <ng-template let-item="item">
          {{item}}
        </ng-template>
      </column>
      <column [key]="'currentState'" [header]="'Iniciado'" [minWidth]="'43'" [isSortable]="true"> 
       	<ng-template let-item="item">
            <span *ngIf="item == null || item?.start == undefined">-</span>
            <span *ngIf="item != null && item.start != undefined">{{item?.start | date:'medium'}}</span>
        </ng-template>
      </column>
      <column [key]="'currentState'" [header]="'Status'" [minWidth]="'82'">
          <ng-template let-item="item">
              {{item?.status}}
          </ng-template>
      </column>

      <column [key]="'geography'" [header]="'Origem'" [minWidth]="'82'">
          <ng-template let-item="item">
              <span *ngIf="item == null">-</span>
              <span *ngIf="item != null && item.destinations[0]?.name != undefined">{{item?.destinations[0]?.name}}</span>
              <span *ngIf="item != null && item.destinations[0]?.name == undefined">{{item?.destinations[0]?.address?.complete}}</span>
          </ng-template>
      </column>
      <column [key]="'geography'" [header]="'Destino'" [minWidth]="'82'">
          <ng-template let-item="item">
              <span *ngIf="item == null">-</span>
              <span *ngIf="item != null && item.destinations[item?.destinations?.length -1]?.name != undefined">{{item?.destinations[item?.destinations?.length -1]?.name}}</span>
              <span *ngIf="item != null && item.destinations[item?.destinations?.length -1]?.name == undefined">{{item?.destinations[item?.destinations?.length -1]?.address?.complete}}</span>
          </ng-template>
      </column>
      <column [key]="'motorists'" [header]="'Motorista'" [minWidth]="'82'">
          <ng-template let-item="item">
              {{item != null ? item[0]?.documentId: '-'}}
          </ng-template>
      </column>
      <column [key]="'vehicles'" [header]="'Veículo'" [minWidth]="'40'">
          <ng-template let-item="item">
              {{item != null ? item?.numberPlate: '-'}}
          </ng-template>
      </column>
      <column [key]="''" [header]="'Rota'" [minWidth]="'40'">
          <ng-template let-item="item">
              {{'-'}}
          </ng-template>
      </column>
      <column [key]="'created'" [header]="'Criado'" [minWidth]="'82'">
          <ng-template let-item="item">
              <span *ngIf="item == undefined">-</span>
              <span *ngIf="item != undefined">{{item | date:'medium'}}</span>
          </ng-template>
      </column>

      <context-menu
          [mode]="'click'"
          (onItemSelected)="contextMenuSelected($event)">
          <menu-item>
              <ng-template>
                  <span class="table-menu-icon fal fa-list"
                        aria-hidden="true"></span>
                  <span>Resumo</span>
              </ng-template>
          </menu-item>
          <menu-item>
              <ng-template>
                  <span class="table-menu-icon fal fa-user"
                        aria-hidden="true"></span>
                  <span>Motoristas</span>
              </ng-template>
          </menu-item>
          <menu-item>
              <ng-template>
                  <span class="table-menu-icon fal fa-truck"
                        aria-hidden="true"></span>
                  <span>Veículos</span>
              </ng-template>
          </menu-item>
          <menu-item>
              <ng-template>
                  <span
                      class="table-menu-icon fal fa-map"
                      aria-hidden="true"></span>
                  <span>Geográfico</span>
              </ng-template>
          </menu-item>
      </context-menu>

  	</data-table>
  </div>
  <!-- <sga-modal>
    <sga-summary-dialog
      [trip]="selectedTrip"
      [stepIndex]="stepIndex"
      [showDialog]="showSummaryDialog"
      (onDialogClose)="summaryDialogClose()">
    </sga-summary-dialog>
  </sga-modal> -->
</div>
