.map-sidabar {
  width: 361px;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 54px;
  left: 0px;
  bottom: 0px;
  border-right: 1px solid;
  color: #bbbbbb;
}

.map-tabs > li {
  float: left;
  line-height: 40px;
  width: 120px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: rgba(186, 187, 189, 0.95);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.map-tabs > li.active {
  cursor: default;
  background-color: rgba(253, 253, 253, 0);
  border-right-color: #777777;
}

.map-tabs > li.active > .ui-tabview-tab-title {
  color: #3a4358;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.map-tabs > .ui-tabview-tab > .ui-tabview-tab-title {
  color: #ffffff;
}

.motorist-map-table {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: scroll;
}

.motorist-map-table > table > tbody > tr > td {
  padding: 8px !important;
  font-size: 14px !important;
  vertical-align: top;
  color: rgb(210, 210, 210);
  text-shadow: 1px 1px 2px #000;
}

.motorist-map-table > table > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
  cursor: pointer;
}

/*.motorist-map-table > table > thead > tr >th >div {

}*/

.motorist-map-table-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.45);
  float: left;
  padding: 8px 0px;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0px;
}

.motorist-map-table-footer > select {
  float: right;
  width: 48px;
  margin: 0px 12px;
  background: rgb(23, 28, 35);
  border: 1px solid #000;
  height: 26px;
  color: #e4e4e5;
  text-shadow: 1px 1px 1px #000;
}

.map-table-position-icon {
  font-size: 24px !important;
  line-height: 34px !important;
  color: #476894 !important;
  width: 100%;
  text-align: center;
}

.map-table-event-icon {
  font-size: 20px !important;
  line-height: 34px !important;
  color: #6f794a !important;
  width: 100%;
  text-align: center;
}

.motorist-map-table-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
}
