.cnt-map{
    position: relative;
    height: 100%;
    top:-10px;
}
.material-content-container {
  padding: 0;
  margin: 0;

  div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}


.menu-map-center {
  align-items: center;
  display: flex;
  a {
    font-size: 19px;
    width: 13px;
    transition: all 150ms ease;
    color: #cecece;
  }
}
