<nav  class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Motoristas</a></li>
    <li class="is-active"><a href="#" aria-current="page">Mapa</a></li>
  </ul>
  <h5>Mapa</h5>
</nav>
<div style="height: 100%;">
<div class="material-content-container cnt-map">
  <div id="map" #mapSelector></div>
</div>
<div class="map-center-bar columns">
  <div class="column menu-map-center">
    <a class="fal fa-bars" href=""></a>
  </div>
  <div class="column is-4">     
    <p class="control has-icons-left"> 
      <input [(ngModel)]="text" class="input is-small" placeholder="Buscar" type="text"/>
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>       
    </p>
    <div class="control">
      <label class="radio" (click)="toggleMapStyle(map)">
        <input type="radio" name="map" #map value="1">
        Map
      </label>
      <label class="radio" (click)="toggleMapStyle(street)">
        <input type="radio" name="map" #street value="2">
        Street
      </label>
    </div>
  </div>
  <sga-map-filter 
    (placesFiltered)="onPlacesFiltered($event)" 
    (filterRemoved)="onPlacesFilterRemoved()"
    class="column is-11">
  </sga-map-filter>
</div>