<div class="material-content-container">
  <div #mapSelector id="map"></div>
</div>
<div class="map-center-bar columns">
  <div class="column menu-map-center">
    <a class="fal fa-bars" href=""></a>
  </div>
  <div class="column is-4">     
    <p class="control has-icons-left"> 
      <input [(ngModel)]="text" class="input is-small" placeholder="Buscar" type="text"/>
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>       
    </p>
    <div class="control">
      <label class="radio" (click)="toggleMapStyle(map)">
        <input type="radio" name="map" #map value="1">
        Map
      </label>
      <label class="radio" (click)="toggleMapStyle(street)">
        <input type="radio" name="map" #street value="2">
        Street
      </label>
    </div>
  </div>
  <sga-map-filter 
    (placesFiltered)="onPlacesFiltered($event)" 
    (filterRemoved)="onPlacesFilterRemoved()"
    class="column is-11">
  </sga-map-filter>
</div>