<div class="overlay"></div>
<div class="container">  
    <div class="container-login">
        <div class="login-logo">
            <img alt="Siga" src="/resources/images/siga.png" />
        </div>
        <div class="container-login-form">
            <div *ngIf="error" class="error-message">
              <span>{{errorText}}</span>
            </div>
            <form class="form-login" #formLogin="ngForm" (ngSubmit)="login(formLogin)">
                <input class="material-form-control" id="email" name="email" type="email" placeholder="Usuário" #email ngModel/>
                <input class="material-form-control" style="margin-top: 40px" id="password" name="password" type="password" placeholder="Senha" #password ngModel/>
                <div class="checkbox">
                  <label>
                    <input id="rememberUser" type="checkbox" value="" />Lembrar meu usuário</label>
                </div>
                <button type="submit" [disabled]="isLoggingIn" [class.disabled]="isLoggingIn" class="login-button">
                    <span *ngIf="!isLoggingIn">Log in</span>
                    <div *ngIf="isLoggingIn" class="isloggingin">
                        <div class="input-spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </button>
                <div class="forget-password"><a href="#" style="">Esqueceu sua senha?</a></div>
            </form>
        </div>
    </div>
    <div class="footer-login">
      <span>® 2016 Condusit Systems</span>
    </div>
</div>