<div style="width: 100%; height: 100%; opacity: 1; position: absolute; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-image: url('/resources/images/highway.jpg'); background-color:#262d3c;"></div>
<div style="background-color: rgb(50, 66, 99); width: 100%; height: 100%">
  <div style="width: 460px;position: absolute;left: 50%;top: 40%;margin: -220px auto 0 -230px;">
    <div style="text-align: center">
      <img style="margin: 0px 0px 50px 0px" height="46px" alt="Siga" src="/resources/images/siga.png" />
    </div>
    <div style="padding: 32px 42px 32px 42px;background-color: rgba(0, 0, 0, 0.3);border-radius: 8px 8px 8px 8px !important;border-color: #777777;">
      <div *ngIf="error" style="width: 100%;border-radius: 4px;line-height: 34px;background-color: rgb(255, 206, 206);margin-bottom: 30px;font-weight: 300;padding: 20px 0px;">
        <span [innerHTML]="errorText" style="color: #af2020;width: 100%;display: inline-block; padding: 0px 22px;font-size: 16px;">Invalid username or password!</span>
      </div>
      <form action="login" method="post">
        <input class="material-form-control" id="email" name="email" type="email" #email placeholder="Usuário" />

        <input class="material-form-control" style="margin-top: 40px" id="password" name="password" type="password" placeholder="Senha" #password/>

        <div class="checkbox" style="margin-top: 20px; display: inline-block">
          <label style="min-height: 20px;font-size: 14px;margin-bottom: 0;font-weight: 400;cursor: pointer;color: rgba(255, 255, 255, 0.71) !important;font-size: 14px;text-decoration: none;text-shadow: 1px 1px 1px #000;">
            <input style="margin-right: 12px" id="rememberUser" type="checkbox" value="" />Lembrar meu usuário
          </label>
        </div>
        <button (click)="login(email, password)" type="submit" name="action" [disabled]="isLoggingIn" [class.disabled]="isLoggingIn" class="login-button">
          <span *ngIf="!isLoggingIn">Log in</span>

          <div *ngIf="isLoggingIn" style="width: 100px; position: absolute; margin: auto; top: 16px; left: 0px; right: 0px; bottom: 0px;">
            <div class="input-spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        </button>

        <div style="text-align: center; margin-top: 20px;">
          <a href="#" style="color: rgb(255, 255, 255) !important;font-size: 14px;text-decoration: none;text-shadow: 1px 1px 1px #000;">Esqueceu sua senha?
          </a>
        </div>
      </form>
    </div>
  </div>

  <div style=" margin-top: 8px; position: absolute; bottom: 10px; left: 50%; margin-left: -81px;">
    <span style="color: rgb(200, 200, 200); font-weight: 300; font-size: 14px; text-shadow: 1px 1px 1px #000;">® 2016 Condusit Systems</span>
  </div>
</div>