.motorist-admin-left-container {
    position: relative;
    height: 100%;
    width: 400px;
    border: 1px solid #ececec;
    background-color: #fff;
}
  .motorist-admin-summary-wrapper{     
      position: relative;
      color: #4a5879;
      height:14%;
      padding-top: 6px;

      .admin-section-header {
        color: #38425b;
        padding: 0 0 7px 0;
        font-size: 12.5px;
        font-weight: 600;
      }
  }
      
      .motorist-admin-summary {      
        position: relative;
        border-radius: 2px;
        border: 1px solid rgba(92, 184, 92, 0.25);
        background-color: rgba(92, 184, 92, 0.1);
        color: #333;
      }
        .motorist-admin-summary-row {
            border-radius: 2px;
            font-size: 14px;
            border-bottom: 1px solid #cae8ca;
            
            .column{
              padding: 6px 7px;
            }
        }

.motorist-admin-wrapper { 
    color: #324263;
    height:36%;
    position: relative;

    .wrapper-header{
        height: 12%;
        color: #38425b;
        font-size: 12.5px;
        font-weight: 600; 
    }
    .cnt-list-view{
        position: relative;
        height: 60%;
        margin: 0;
        padding: 0;
    }
}

.motorist-admin-remove-wrapper { 
    .cnt-list-view{
        height: 82%;
    }
}

.motorist-admin-right-container {
     position: absolute;
    top: 19px;
    left: 431px;
    right: 4px;
    bottom: 20px;
    border: 1px solid #ececec;
    background-color: #fff;
}
.motorist-admin-table {
  position: absolute;
  top: 38px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.grid-associate{
    top: 60px;
    position: absolute;
    left: 11px;
    right: 11px;
    bottom: 11px;
}
.motorist-admin-right-container  {
  .title{
    color: #38425b;
    font-size: 12.5px;
    font-weight: 600;
  }

  
}
.motorist-admin-add-item-valid {
  font-size: 12px;
    border-radius: 2px;
    background: #e0ffe0;
    margin: 3px 0px 5px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    color: #006300;
}

.motorist-admin-add-item-validating {
  border: 1px solid #00a500;
  font-size: 12px;
  border-radius: 3px;
  background: #f5fff5;
  margin: 3px 3px 1px 0px;
  height: 30px;
  line-height: 30px;
  padding-left: 12px;
  color: #006300;
}

.motorist-admin-add-item-invalid {
  font-size: 12px;
  border-radius: 2px;
   margin: 3px 3px 1px 0px;
  height: 30px;
  line-height: 30px;
  padding-left: 12px;
  background: #ffc0c0;
  color: #920000;
}

.motorist-admin-item-close {
  float: right;
  line-height: 30px !important;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.motorist-admin-changes-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -80px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px #888;
    text-align: center;
    width: 200px;
    padding: 12px 0px;
    color: #000;
    display: block;
    font-family: 'Varela Round', sans-serif;
    border-radius: 8px;
}
.cnt-custom-button{   
      height: 8%;
      margin: 0;
      padding: 0;
      bottom:5px;
      position: relative;
    .custom-button{
        background-color: #2ed06e;
        color: #fff;
        font-size: 14px;
        border: none;        
        transition: all .2s ease;
        position: relative;
        width: 93.5%;
        padding: 11px 0px;
        margin: auto;
        display: block;
        border-radius: 3px;

        &:disable{
           background-color: #fafafb;
            cursor: not-allowed;
            color: #7788a1;
        }
    }
}


.cnt-autocomplete{
    margin: 0px 0 8px 0; 
    position:relative;
    height: 21%;
    
    .img-autocomplete{
        width: 30px; 
        height: 20px; 
        float: left; 
        margin: 8px 4px;
        display: block;
    }
}
.cnt-btn-search{
    width: 360px;
    margin: 10px 12px 0px 0;
    float: right;
}

.list-view-empty{
    position: absolute; 
    top: 50%; 
    left: 0px; 
    right: 0px; 
    margin-top: -20px;
    
    i{
        color: #e9eaed; 
        width: 100%; 
        text-align: center; 
        font-size: 20px; 
        margin-bottom: 12px;
    }
    span{
        width: 100%; 
        text-align: center; 
        display: block; 
        color: #a5abb3; 
        font-size: 12px;
    }
}

