<div>
  <sga-modal>
    <div class="admin-dialog">
      <div class="motorist-admin-left-container admin-section columns is-multiline is-marginless ">
        <div class="motorist-admin-summary-wrapper column is-12 is-marginless">
          <div class="admin-section-header">Resumo</div>
          <div class="motorist-admin-summary">
            <div class="motorist-admin-summary-row columns is-marginless">
              <span class="column is-3">Adicionando</span>
              <span class="column is-narrow is-centered">{{addList.length}}</span>
              <span class="column is-3">Removendo</span>
              <span class="column is-3 is-narrow is-centered">{{removeList.length}}</span>
            </div>
            <div class="motorist-admin-summary-row columns is-marginless">
              <span class=" column is-half">Total</span>
              <span class="column is-half is-centered">{{ currentList.length + addList.length}}</span>
            </div>
          </div>
        </div>

        <div class="motorist-admin-wrapper motorist-admin-add-wrapper column is-12 is-marginless">
          <div class="wrapper-header">Adicionar Motorista</div>
          <div class="cnt-autocomplete">
            <sga-auto-complete 
              [motorists]="motorists"
              minLength="3"
              styleClass = "autocomplete"
              noSuggestionsText="Nenhum motorista encontrado"
              url="api/motorist/search?query="
              placeholder="Digite o número do documento"
              style="width: 100%;"
              type="text"
              (onCreateNew)="showMotoristForm($event)"
              (itemSelected)="onMotoristSelected($event)">
              <ng-template let-item="item">
                <div class="autocomplete-suggestion">
                  <span>
                    <img class="img-autocomplete" src="{{'/assets/images/flags/' + item.country +'.png'}}"
                      alt="">
                    <img>
                    <span>
                      <span style="font-size: 16px; font-weight: 500; color: #324263; margin-left: 4px;">{{item.documentId}} </span>
                      <span style="font-size: 14px; margin-left: 10px;">{{item.firstName}}, {{item.lastName}}</span>
                    </span>
                  </span>
                </div>
              </ng-template>
            </sga-auto-complete>
          </div>
          <div class="cnt-list-view column is-12">
            <list-view [listItems]="addList" styleClass="admin-list motorist-admin-add-list">
              <list-view-item>
                <ng-template let-item="item">
                  <div class="motorist-admin-add-item-valid">
                    <span>({{item.documentId}})</span>
                    <span style="font-weight: 500; margin-left: 8px">{{item.firstName}} {{item.lastName}}</span>
                    <span (click)="undoAddMotorist(item)" class="fa fa-times motorist-admin-item-close" aria-hidden="true"></span>
                  </div>
                </ng-template>
              </list-view-item>
              <list-view-empty>
                <ng-template>
                  <div class="list-view-empty">
                    <i class="fa fa-group"></i>
                    <span>Não há motoristas para adicionar à sua conta</span>
                  </div>
                </ng-template>
              </list-view-empty>
            </list-view>
          </div>
        </div>

        <div class="motorist-admin-wrapper motorist-admin-remove-wrapper column is-12 is-marginless">
          <div class="wrapper-header">Remover Motorista</div>
          <div class="cnt-list-view ">
            <list-view [listItems]="removeList" styleClass="admin-list motorist-admin-remove-list">
              <list-view-item>
                <ng-template let-item="item">
                  <div class="motorist-admin-add-item-invalid">
                    <span>({{item.documentId}})</span>
                    <span style="font-weight: 500; margin-left: 8px">{{item.firstName}} {{item.lastName}}</span>
                    <span (click)="undoRemoveMotorist(item)" class="fas fa-times motorist-admin-item-close" aria-hidden="true"></span>
                  </div>
                </ng-template>
              </list-view-item>
              <list-view-empty>
                <ng-template>
                  <div class="list-view-empty">
                    <i class="fa fa-group"></i>
                    <span>Não há motoristas para remover da sua conta</span>
                  </div>
                </ng-template>
              </list-view-empty>
            </list-view>
          </div>
        </div>

        <div class="cnt-custom-button column is-12 is-marginless">
          <button 
          (click)="applyChanges()" 
          [disabled]="addList?.length == 0 && removeList?.length == 0" 
          class="custom-button" >
            aplicar mudanças
          </button>
        </div>

      </div>
      <div class="motorist-admin-right-container admin-section columns is-multiline is-marginless ">
        <div class="title column">
          Motoristas Associados
        </div>
        <div class="cnt-btn-search">       
           <p class="control has-icons-left"> 
              <input  [(ngModel)]="searchText" class="input"  placeholder="Buscar" type="text"/>
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>       
            </p>
        </div>
        <div>
          <div class="grid-associate">
            <data-table [data]="currentList" [dataLength]="currentList.length" [searchText]="searchText" [searchColumns]="['documentId', 'firstName', 'lastName', 'email', 'cellPhone']"
              [emptySearchText]="'nenhuma motorista foi encontrado'" [bodyBottom]="'42px'" [bodyTop]="'24px'" (onCellClick)="onAdminMotoristCellClick($event)">

              <column [key]="'id'" [header]="''" [minWidth]="'60'" [fixedWidth]="'60'">
                <ng-template let-item="item">
                  <div class="cnt-img">
                    <img *ngIf="item !=null" (click)="showMotoristModal(item)" style="width: 40px; height: 40px; border-radius: 50%;" src="{{'api/motorist/public/profileImage?id=' + item}}"
                      alt="">
                  </div>
                </ng-template>
              </column>
              <column [key]="'documentId'" [header]="'ID'" [minWidth]="'82'">
                <ng-template let-item="item">
                  {{item}}
                </ng-template>
              </column>
              <column [key]="'firstName'" [header]="'Nome'" [minWidth]="'82'">
                <ng-template let-item="item">
                  {{item}}
                </ng-template>
              </column>
              <column [key]="'lastName'" [header]="'Sobrenome'" [minWidth]="'82'">
                <ng-template let-item="item">
                  {{item}}
                </ng-template>
              </column>
              <column [key]="'email'" [header]="'Email'" [minWidth]="'82'">
                <ng-template let-item="item">
                  {{item}}
                </ng-template>
              </column>
              <column [key]="'cellPhone'" [header]="'Celular'" [minWidth]="'82'">
                <ng-template let-item="item">
                  {{item}}
                </ng-template>
              </column>
              <column [key]="''" [header]="''" [minWidth]="'60'" [fixedWidth]="'60'">
                <ng-template let-item="item">
                  <span style="color: red; padding: 10px 0px; font-size: 18px;" class="fas fa-times" aria-hidden="true"></span>
                </ng-template>
              </column>
            </data-table>
          </div>
        </div>
      </div>
    </div>

    <!-- <loading-spinner [isHidden]="!isUpdating" text="Aplicando mudanças...">
    </loading-spinner> -->

    <sga-modal>
      <sga-register-motorist
        [showForm]="showMotoristRegister"
        (onFormClose)="motoristFormClose()">
      </sga-register-motorist>
    </sga-modal>

    <sga-modal>
      <sga-profile-dialog
        [showDialog]="showMotoristDialog"
        [selectedMotorist]="selectedMotorist"
        (onDialogClose)="motoristDialogClose()">
      </sga-profile-dialog>
    </sga-modal>
  </sga-modal>
</div>