<div style="position:relative; width:100%; height: 100%; background-color: #c0c0c1">
  <div style="position: absolute; top: 0px; bottom: 0px; left:0px; right:0px;">
    <div class="material-header">
      <div   class="material-header-heading">
        <span>Motoristas</span>
      </div>
      <!-- <dropdown>
        <dropdown-menu-header>
          <ng-template>
            <i class="fa fa-bars config-menu-icon"></i>
          </ng-template>
        </dropdown-menu-header>
        <dropdown-menu-body>
          <ng-template>
            <div>
              <ul class="config-menu-list">
                <li (click)="configMenuCLick(0)" class="config-menu-item">
                  <i class="fal fa-address-card config-menu-item-icon"></i>
                  <span class="config-menu-item-text">Cadastro</span>
                </li>
                <li (click)="configMenuCLick(1)" class="config-menu-item">
                  <i class="fal fa-link config-menu-item-icon"></i>
                  <span class="config-menu-item-text">Vinculo</span>
                </li>
              </ul>
            </div>
          </ng-template>
        </dropdown-menu-body>
      </dropdown> -->
      <!-- <tabs (tabSelected)="onTabSelected($event)" [tabIndex]="selectedTabIndex" styleClass="tabs">
        <tab heading="Grid">
          <motorist-grid [motorists]="motorists" [dataLoading]="loadingMotorists" (onMotoristSelected)="gridMotoristSelected($event)"
            (onContextMenuItemSelected)="gridContextMenuSelected($event)">
          </motorist-grid>
        </tab>
        <tab heading="Mapa">
          <motorist-map [hasFocus]="mapHasFocus" [motoristsHistory]="mapMotoristHistory" [motorists]="motorists" [gridSelectedMotorist]="mapSelectedMotorist">
          </motorist-map>
        </tab>
      </tabs> -->
      <!-- <motorist-associate-dialog [motorists]="motorists" [showDialog]="showAssociateModal"></motorist-associate-dialog> -->
    </div>
  </div>
</div>