
.wrapper{
  position: relative;
  float: right;
  margin-right: 12px;
}

.header{
  width: 54px;
  height: 54px;
  line-height: 54px;
  cursor: pointer;
}

.wrapper.active > .header{
  background: #495474;
}

.body{
  position: absolute;
  right: 0px;
  background: #fff;
  width: 186px;
  z-index: 1;
  box-shadow: 1px 1px 3px #333333;
  border-radius: 0px 0px 2px 2px;
  border: 1px solid #fff;
}

:host-context(.red-theme) .header {
  background: red;
  width: 100px;
  height: 100px;
}
