
.page-header {
    border-bottom: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.page-header > i {
    line-height: 50px;
}

.page-header > h3 {       
    color: #424248;
    font-size: 13px;
    color: #565d6d;
}

.cnt-trip-places {
  // position: absolute;
  // left: 22px;
  // right: 22px;
  // bottom: 22px;
  // top: 79px;
  .places-sidebar,
  .places-detail {
    height: 100%;    
    padding: 4px 10px 0 10px;
  }
  .trip-places-header {
    color: #38425b;
    padding: 0 0 6px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;

  }
  .places-sidebar {
    

    .trip-places-ac {
      height: 11%;
    }
    .trip-places-lv {
      height: 79.5%;
      border-radius: 3px;
      text-align: center;
      min-height: 150px;

      i {
        font-size: 4em;
        color: #bababa;
        margin-top: .8em;
      }
    }
  }
  
}
