<div class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-hamburger">
      <span>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </span>
    </div>
    <div class="sidebar-user">
      <div class="ssidebar-username">
        <span>{{user?.firstName}} {{user?.lastName}}</span>
      </div>
      <div class="sidebar-account">
        <span>{{user?.accountName}}</span>
      </div>
    </div>
  </div>  <!-- <div class="sidebar-accent"></div>-->
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item">
      <a routerLink="/home">
        <span [class.selected]="router.url == '/home'" class="sidebar-list-icon fal fa-home"></span>
        <span class="sidebar-list-text">Home</span>
      </a>
    </li>
    <li class="sidebar-menu-item-accordion">
      <accordion>
        <accordion-header>
          <ng-template>
            <div class="sidebar-menu-accordion">
              <span [class.selected]="router.url == '/riskManagement'" class="sidebar-list-icon fal fa-exclamation-square"></span>
              <span class="sidebar-list-text">Gerenciamento Risco</span>
            </div>
          </ng-template>
        </accordion-header>
        <ul class="sidebar-submenu">
          <li [class.selected]="router.url == '/riskManagement'" class="sidebar-menu-item">
            <a routerLink="/riskManagement">
              <span [class.selected]="router.url == '/riskManagement'" class="sidebar-list-icon fal fa-desktop"></span>
              <span class="sidebar-list-text">Vigilante</span>
            </a>
          </li>
          <li class="sidebar-menu-item">
            <a>
              <span class="sidebar-list-icon fal fa-tachometer-alt"></span>
              <span class="sidebar-list-text">Dashboard</span>
            </a>
          </li>
          <li class="sidebar-menu-item">
            <a>
              <span class="sidebar-list-icon fal fa-cog"></span>
              <span class="sidebar-list-text">Configuração</span>
            </a>
          </li>
        </ul>
      </accordion>
    </li>
    <li class="sidebar-menu-item-accordion">
      <accordion>
        <accordion-header>
          <ng-template>
            <div class="sidebar-menu-accordion">
              <span [class.selected]="router.url == '/records' || router.url == '/pickup'" class="sidebar-list-icon fal fa-stopwatch"></span>
              <span class="sidebar-list-text">Logística</span>
            </div>
          </ng-template>
        </accordion-header>
        <ul class="sidebar-submenu">
          <li [class.selected]="router.url == '/records'" class="sidebar-menu-item">
            <a routerLink="/records">
              <span class="sidebar-list-icon fal fa-copy"></span>
              <span class="sidebar-list-text">Registros</span>
            </a>
          </li>
        </ul>
      </accordion>
    </li>
     <li class="sidebar-menu-item-accordion">      
        <accordion>
          <accordion-header>
            <ng-template>
              <div class="sidebar-menu-accordion">
                <span [class.selected]="router.url == '/trip'" class="sidebar-list-icon fal fal fa-road"></span>
                <span class="sidebar-list-text">Viagens</span>
              </div>
            </ng-template>
          </accordion-header>
          <ul class="sidebar-submenu">
            <li [class.selected]="router.url == '/trip/started'" class="sidebar-menu-item">
              <a routerLink="/trip/started">
                <span [class.selected]="router.url == '/trip/started'" class="sidebar-list-icon fal fa-th-list"></span>
                <span class="sidebar-list-text">Iniciadas</span>
              </a>
            </li>
            <li [class.selected]="router.url == '/trip/scheduled'" class="sidebar-menu-item">
              <a routerLink="/trip/scheduled">
                <span [class.selected]="router.url == '/trip/scheduled'" class="sidebar-list-icon fal fa-calendar-alt"></span>
                <span class="sidebar-list-text">Programadas</span>
              </a>
            </li>
            
           <!--  <li class="sidebar-menu-item" [class.selected]="router.url == '/vehicle/map'">
              <a  routerLink="/vehicle/map" >
                <span class="sidebar-list-icon fal fa-map"></span>
                <span class="sidebar-list-text">Mapa</span>
              </a>
            </li> -->
            <li class="sidebar-menu-item"  [class.selected]="router.url == '/trip/register'">
              <a routerLink="/trip/register-trip">
                <span class="sidebar-list-icon fal fa-user-plus"></span>
                <span class="sidebar-list-text">Cadastrar</span>
              </a>
            </li>
          </ul>
        </accordion>
    </li>
    <li class="sidebar-menu-item-accordion">      
        <accordion>
          <accordion-header>
            <ng-template>
              <div class="sidebar-menu-accordion">
                <span [class.selected]="router.url == '/vehicle'" class="sidebar-list-icon fal fa-truck"></span>
                <span class="sidebar-list-text">Veículos</span>
              </div>
            </ng-template>
          </accordion-header>
          <ul class="sidebar-submenu">
            <li [class.selected]="router.url == '/vehicle/grid'" class="sidebar-menu-item">
              <a routerLink="/vehicle/grid">
                <span [class.selected]="router.url == '/vehicle/grid'" class="sidebar-list-icon fal fa-th-list"></span>
                <span class="sidebar-list-text">Grid</span>
              </a>
            </li>
            <li class="sidebar-menu-item" [class.selected]="router.url == '/vehicle/map'">
              <a  routerLink="/vehicle/map" >
                <span class="sidebar-list-icon fal fa-map"></span>
                <span class="sidebar-list-text">Mapa</span>
              </a>
            </li>
            <li class="sidebar-menu-item"  [class.selected]="router.url == '/vehicle/account'">
              <a routerLink="/vehicle/account">
                <span class="sidebar-list-icon fal fa-user-plus"></span>
                <span class="sidebar-list-text">Configuração</span>
              </a>
            </li>
          </ul>
        </accordion>
    </li>
    <li class="sidebar-menu-item-accordion">      
      <accordion>
        <accordion-header>
          <ng-template>
            <div class="sidebar-menu-accordion">
              <span [class.selected]="router.url == '/'" class="sidebar-list-icon fal fa-user"></span>
              <span class="sidebar-list-text">Motoristas</span>
            </div>
          </ng-template>
        </accordion-header>
        <ul class="sidebar-submenu">
          <li [class.selected]="router.url == '/motorist/grid'" class="sidebar-menu-item">
            <a routerLink="/motorist/grid">
              <span [class.selected]="router.url == '/motorist/grid'" class="sidebar-list-icon fal fa-th-list"></span>
              <span class="sidebar-list-text">Grid</span>
            </a>
          </li>
          <li class="sidebar-menu-item" [class.selected]="router.url == '/motorist/map'">
            <a  routerLink="/motorist/map" >

              <span class="sidebar-list-icon fal fa-map"></span>
              <span class="sidebar-list-text">Mapa</span>
            </a>
          </li>
          <li class="sidebar-menu-item"  [class.selected]="router.url == '/motorist/account'">
            <a routerLink="/motorist/account">
              <span class="sidebar-list-icon fal fa-user-plus"></span>
              <span class="sidebar-list-text">Configuração</span>
            </a>
          </li>
        </ul>
      </accordion>
    </li>
     <li class="sidebar-menu-item-accordion">      
        <accordion>
          <accordion-header>
            <ng-template>
              <div class="sidebar-menu-accordion">
                <span [class.selected]="router.url == '/truck'" class="sidebar-list-icon fal fa-truck"></span>
                <span class="sidebar-list-text">Reboques</span>
              </div>
            </ng-template>
          </accordion-header>
          <ul class="sidebar-submenu">
            <li [class.selected]="router.url == '/truck/grid'" class="sidebar-menu-item">
              <a routerLink="/truck/grid">
                <span [class.selected]="router.url == '/truck/grid'" class="sidebar-list-icon fal fa-th-list"></span>
                <span class="sidebar-list-text">Grid</span>
              </a>
            </li>
            <li class="sidebar-menu-item" [class.selected]="router.url == '/truck/map'">
              <a  routerLink="/truck/map" >
                <span class="sidebar-list-icon fal fa-map"></span>
                <span class="sidebar-list-text">Mapa</span>
              </a>
            </li>
            <li class="sidebar-menu-item"  [class.selected]="router.url == '/truck/account'">
              <a routerLink="/truck/account">
                <span class="sidebar-list-icon fal fa-user-plus"></span>
                <span class="sidebar-list-text">Configuração</span>
              </a>
            </li>
          </ul>
        </accordion>
    </li>
    <li class="sidebar-menu-item-accordion">      
      <accordion>
        <accordion-header>
          <ng-template>
            <div class="sidebar-menu-accordion">
              <span [class.selected]="router.url == '/'" class="sidebar-list-icon fal fa-wrench"></span>
              <span class="sidebar-list-text">Dispositivos</span>
            </div>
          </ng-template>
        </accordion-header>
        <ul class="sidebar-submenu">
          <li [class.selected]="router.url == '/device/grid'" class="sidebar-menu-item">
            <a routerLink="/device/grid">
              <span [class.selected]="router.url == '/device/grid'" class="sidebar-list-icon fal fa-th-list"></span>
              <span class="sidebar-list-text">Grid</span>
            </a>
          </li>
          <li class="sidebar-menu-item" [class.selected]="router.url == '/device/map'">
            <a  routerLink="/device/map" >

              <span class="sidebar-list-icon fal fa-map"></span>
              <span class="sidebar-list-text">Mapa</span>
            </a>
          </li>
          <li class="sidebar-menu-item"  [class.selected]="router.url == '/device/config'">
            <a routerLink="/device/config">
              <span class="sidebar-list-icon fal fa-user-plus"></span>
              <span class="sidebar-list-text">Configuração</span>
            </a>
          </li>
        </ul>
      </accordion>
    </li>

    <li class="sidebar-menu-item-accordion">      
      <accordion>
        <accordion-header>
          <ng-template>
            <div class="sidebar-menu-accordion">
              <span [class.selected]="router.url == '/'" class="sidebar-list-icon fal fa-globe"></span>
              <span class="sidebar-list-text">Geográfico</span>
            </div>
          </ng-template>
        </accordion-header>
        <ul class="sidebar-submenu">
          <li class="sidebar-menu-item-accordion sub-item">
            <accordion styleClass="area-map">
              <accordion-header>
                <ng-template>
                  <div class="sidebar-menu-accordion sub-accordion">
                    <span class="sidebar-list-icon fal fa-chart-area"></span>
                    <span class="sidebar-list-text">Áreas</span>
                  </div>
                </ng-template>
              </accordion-header>
              <ul class="sidebar-submenu">
                <li [class.selected]="router.url == '/geographic/area/grid'" class="sidebar-menu-item">
                  <a routerLink="/geographic/area/grid">
                    <span [class.selected]="router.url == '/geographic/area/grid'" class="sidebar-list-icon fal fa-th-list"></span>
                    <span class="sidebar-list-text">Grid</span>
                  </a>
                </li>
                <li class="sidebar-menu-item" [class.selected]="router.url == '/geographic/area/map'">
                  <a  routerLink="/geographic/area/map" >
                    <span [class.selected]="router.url == '/geographic/area/map'" class="sidebar-list-icon fal fa-map"></span>
                    <span class="sidebar-list-text">Mapa</span>
                  </a>
                </li>
              </ul>
            </accordion>
          </li>
            





          <!-- <li [class.selected]="router.url == '/geographic/grid'" class="sidebar-menu-item">
            <a routerLink="/geographic/grid">
              <span [class.selected]="router.url == '/geographic/grid'" class="sidebar-list-icon fal fa-chart-area"></span>
              <span class="sidebar-list-text">Áreas</span>
            </a>
          </li>
          <li class="sidebar-menu-item" [class.selected]="router.url == '/geographic/map'">
            <a  routerLink="/geographic/map" >

              <span class="sidebar-list-icon fal fa-map-marker"></span>
              <span class="sidebar-list-text">Pontos</span>
            </a>
          </li>
          <li class="sidebar-menu-item"  [class.selected]="router.url == '/geographic/config'">
            <a routerLink="/geographic/config">
              <span class="sidebar-list-icon fal fa-thumbtack"></span>
              <span class="sidebar-list-text">Entidades</span>
            </a>
          </li> -->
        </ul>
      </accordion>
    </li>
    
    <li class="sidebar-menu-item">
      <a>
        <span [class.selected]="router.url == '/audit'" class="sidebar-list-icon fal fa-list-alt"></span>
        <span class="sidebar-list-text">Auditorias</span>
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a routerLink="/videos">
        <span [class.selected]="router.url == '/videos'" class="sidebar-list-icon fal fa-play-circle"></span>
        <span class="sidebar-list-text">Vídeos</span>
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a>
        <span class="sidebar-list-icon fal fa-cube"></span>
        <span class="sidebar-list-text">Frete</span>
      </a>
    </li>
  </ul>
  
</div>
