<div class="columns is-multiline content-trip">
	<div class="column is-12 trip-header">
	  <sga-steps [width]="'90%'" (onSelectStep)="onSelectStep($event)">
	    <sga-step [header]="'Geral'" [icon]="'fal fa-home'"></sga-step>
	    <sga-step [header]="'Itinerário'" [icon]="'fal fa-map'"></sga-step>
	    <sga-step [header]="'Motorista'" [icon]="'fal fa-user'"></sga-step>
	    <sga-step [header]="'Veículos'" [icon]="'fal fa-truck'"></sga-step>
	    <sga-step [header]="'Reboque'" [icon]="'fal fa-truck'"  [hasGap]="true"></sga-step>
	    <sga-step [header]="'Dispositivo'" [icon]="'fal fa-wrench'" [isHollow]="true"></sga-step>
	  </sga-steps>
	</div>
	<div class="column is-12">
		<router-outlet></router-outlet>
	</div>
</div>
