.cnt-trip-vehicles{
	position: absolute;
    left: 22px;
    right: 22px;
    bottom: 22px;
    top: 79px;
	.vehicles-sidebar,.vehicle-detail{
		height: 100%; 
		border:1px solid #ececec;
		padding: 4px 10px 0 10px;
	}
	.trip-vehicles-header{
		color: #38425b;
	    padding: 0 0 6px 0;
	    font-size: 14px;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    height: 7%;
	  
	}
    .vehicles-sidebar{
		position: absolute;
	    width:365px;
	   
	    .trip-vehicles-ac{
 			height: 11%;
	    }
	    .trip-vehicles-lv{
 			height: 79.5%;
 			border-radius:3px;
	    }
	    
	}
	.vehicle-detail{
		position: absolute;
	    left:389px; 
	    right:0;
		.cnt-details{
			padding: 12px;
		}
	    .vehicle-detail-header{
			color: #38425b;		   
		    font-size: 13px;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;		    
		    border-bottom:1px solid #e7e9ef;
	    }
	    .vehicle-info-title{
			color: #8d96ad;		   
		    font-size: 12px;
	    }
	    .vehicle-info{
	    	color: #38425b;		   
		    font-size: 13px;
	    }
	}
}
	
