<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Dispositivos</a></li>
    <li class="is-active"><a href="#" aria-current="page">Cadastro</a></li>
  </ul>
  <h5>Cadastro</h5>
</nav>
<div class="wrapper">
  <div class="register-area">
    <button class="button is-link" (click)="openFormRegister()">Novo</button>
  </div>
  <div class="grid-area">
    <sga-grid-device
      [showBreadcrumb]="false"
      [showFilterBar]="false"
      [devices]="devices">
    </sga-grid-device>
  </div>

  <sga-modal *ngIf="showFormRegister">
    <sga-register-device
      (onFinish)="closeFormRegister()">
    </sga-register-device>
  </sga-modal>
</div>
