.wrapper {
  position: absolute;
  left: 22px;
  right: 22px;
  bottom: 22px;
  top: 60px;
  
  .register-area {
    position: absolute;
    top: 0;
    left: 19px;
  }
  .grid-area {
    top: 42px;
    margin-top: 5px;
    position: relative;
    height: 95%;
  }  
}
