<div class="columns header-content">
  <nav  class="breadcrumb column is-8" aria-label="breadcrumbs">
   <ul>
    <li><a href="#">Home</a></li>
    <li class="is-active"><a href="#">Dispositivos</a></li>
    <li class="is-active"><a href="#" aria-current="page">Cadastro</a></li>
  </ul>
  </nav>
  <div class="columns column">    
  
  </div>  
</div>
<div class="wrapper">
  <div class="register-area">
    <button class="button is-first" (click)="openFormRegister()">Novo Dispositivo</button>
  </div>
  <div class="grid-area">
    <sga-grid-device
      [showBreadcrumb]="false"
      [showFilterBar]="true"
      [devices]="devices">
    </sga-grid-device>
  </div>

  <sga-modal>
    <sga-register-device
      [showForm]="showFormRegister"
      (onFinish)="closeFormRegister()">
    </sga-register-device>
  </sga-modal>



</div>
