<ul class="column is-12 steps is-narrow is-medium" [ngStyle]="{width: width}" [ngClass]="{'is-vertical':isVertical == true }" >
  <li class="steps-segment" 
      *ngFor="let step of steps; let itemIndex = index"
      (click)="onClick($event, step, itemIndex)"
      [ngClass]="{ 'is-active has-gaps': step.hasGap }">
    <a class="has-text-dark">
      <span title="{{step.header}}" class="steps-marker" [ngClass]="{ 'is-hollow': step.isHollow }">
        <span class="icon">
          <i [ngClass]="step.icon"></i>
        </span>
      </span>     
    </a>
  </li>
</ul>
