nav {
  position: absolute;
  right: 0;
  z-index: 3;
}
    .nav-header-menu {
        display: flex;
        align-items: center;
       padding: 0px 34px;
     
      li {
         margin: 0 11px;
         display: flex;

         a{
            position: relative;
         }
            i{
              color: #a9a9a9;
              cursor: pointer;
              font-size: 17px;
            }
            i.fa-bell{
              line-height: 49px;              
            }
            i.fa-comments{
              line-height: 50px;
            }
            .amount{
              color: #FFF;
              text-align: center;
              width: 20px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              height: 20px;
              border-radius: 50%;
              font-size: 11.5px;
              position: absolute;
              top: 7px;
              right: -12px;
            }
            span.notifications{
              background:#f96478;              
            }
            span.messages{
              background:#fd9764;
            }

        }
      }

      .user{
        display: inline-flex;
        align-items: center;

        .avatar{
          position: relative;
          display: inline-flex;
          align-items: center;
          width: 40px;
          white-space: nowrap;
          border-radius: 1000px;
          vertical-align: bottom;

          img{
            width: 100%;
            max-width: 100%;
            height: auto;
            border: 0 none;
            border-radius: 1000px;
          }
        }
        .user-name{
          font-size: 13px;
          color: #5a6a84;
          margin-left: 9px;
        }
        i{
          color: #a9a9a9;
          margin-left: 5px;
        }
      }

.cnt-menu-profile.opened{
  top: 54px;
  opacity:1;
  visibility:visible;
  z-index: 99999;
}
.cnt-menu-profile{
    position: absolute;   
    top:40px;
    opacity: 0;
    visibility:hidden;
    right:27px;
    height: 74px;
    background:#FFF; 
    z-index: 0;
    width: 140px;
    bottom: 21px;
    border-radius:3px;
    transition:all 250ms ease;
    -webkit-box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);

    li{
      margin:3px 0;
    }

    a{
      font-size: 14px;
      color: #5a6a84;
      width: 100%;
      padding: 5px 0;
      transition:all 150ms ease;
      &:hover{
        background: #797c8c;
        color: #FFF;
       
      }
      &:hover > i{       
        color: #FFF;       
      }
      i{
        color: #a9a9a9;
        transition:all 150ms ease;
        margin-left: 13px;
      }
    }
  }

  