<nav class="nav">
  <div>
    <div  class="full-screen-button">
      <a title="Tela Cheia" (click)="toggleFullScreen()">
        <span class="fal fa-window-maximize"></span>
      </a>
    </div>
      <ul class="nav-header-menu">
        <li>
           <a title="Notificações">
            <i class="fal fa-bell"></i>
          </a>              
        </li>
        <li>
          <a title="Mensagens">
            <i class="fal fa-comments" aria-hidden="true"></i>
          </a>
        </li>
           <li style="min-width: 48px;">
              <a title="Sair" class="sign-out"  (click)="logout()">
                  <i class="fal fa-sign-out"></i>
              </a>
          </li>
      </ul>
    </div>
</nav>
