nav {
  position: absolute;
  left: 50px;
  right: 0;
  top: 0;
  height: 49px;
  background:#FFF;
  z-index: 3;
  -webkit-box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
}

    .nav-logo {
      margin-left: 18px;
      padding-top: 10px;
      padding-bottom: 8px;
      height: 26px;
      box-sizing: content-box;
    }

    .nav-header-menu {
      position: absolute;
      top: 0px;
      right: 8px;
      list-style-type: none;
      display: inline;
     
      li {
          min-width: 60px;
          float: left;
          list-style-type: none;
          display: inline;
          text-align: center;

            i.fa-bell{
              line-height: 44px; 
              font-size: 21px; 
              color: #cecece; 
              cursor: pointer;
            }

            .fa-window-maximize{
              line-height: 46px; font-size: 20px; color: #cecece; cursor: pointer;
            }
            .sign-out{
               line-height: 46px; font-size: 20px; color: #cecece; cursor: pointer;
            }

        }
      }
            .nav-header-menu > li > .nav-notification > span {
              color: #CECECE;
              font-size: 21px;
              line-height: 44px;
              cursor: pointer;
            }
