$main-blue:#4d5675;

.cnt-dialog{
	width: 100%; 
	height: 100%; 
	background-color: rgba(0, 0, 0, 0.4); 
	position: fixed; 
	z-index: 999; 
	left: 0px; 
	top: 0px;
}

.container-form{
	background-color: #FFF;
	margin: 1.5rem auto 0 auto;
	width: 100%;
	max-width: 1024px;
}

.form-header{
	padding-left:20px;
	padding-top: 0;

	.area{
		background:$main-blue;
		color:#FFF;
		padding:0 20px;
		font: 300 17px "Open Sans", sans-serif;
		display: flex;
		align-items: center;
	}
	.action{		
		color:$main-blue;		
		font: 300 24px "Open Sans", sans-serif;
	}
}

.cnt-form {
	
	.block{
		padding: 0px 20px;		
		margin: 0 0 16px 0;
	}
	.title-block{	
		color:$main-blue;		
		font: 300 17px "Open Sans", sans-serif;
		margin-bottom: 0;
	}
	.file-cta, .places-ac, select, input {
		color:#8c8a8a;
		font-size:0.89rem !important;
	}
	.uf.select select:not([multiple]) {
	    padding-right: 22px;
	}
	.uf.select:not(.is-multiple)::after{
		right:10px;
	}
	.column{
		padding-bottom:0.23rem;
	}
	.columns:last-child {
    	margin-bottom: 0;
	}
	.select{
		display: block;
		select{
			width:100%;
		}
	}
}

