<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Viagens</a></li>
    <li class="is-active"><a href="#" aria-current="page">Viagens Programadas</a></li>
  </ul>
  <h5>Viagens Programadas</h5>
</nav>
   
<div class="content-wrapper box-shadow content-grid-motorist grid-spacing-search">
 
  <div [ngClass]="styleClass" class="columns level-left">
    <div class="column is-3">     
      <p class="control has-icons-left"> 
        <input [(ngModel)]="text" class="input is-small"  placeholder="Buscar" type="text"/>
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>       
      </p>
    </div>
    <sga-map-filter 
      (placesFiltered)="onPlacesFiltered($event)" 
      (filterRemoved)="onPlacesFilterRemoved()"
      class="column is-12">
    </sga-map-filter>
  </div>

  <div class="container-grid container-grid-wrapper">
    <data-table 
      [data]="trips | placesFilter: [filterLocation, filterDistance, 'location.latitude', 'location.longitude']"
      [dataLength]="trips.length"
      [searchText]="text" 
      [searchColumns]="['id','motorists.documentId','currentState.Status','motorists.documentId','motorists.documentId']"
      [emptySearchText]="'nenhuma viagem foi encontrado'" 
      [bodyBottom]="'42px'" 
      [bodyTop]="'26px'">
          <table-empty>
		        <ng-template>
		            <!-- <div *ngIf="dataLoading"
		                 style="position: absolute; top: -40px; bottom: 0px; left: 0px; right: 0px">
		                <spinner></spinner>
		            </div> -->
		            <div *ngIf="!dataLoading" style="position: absolute; top: 50%; left: 0px; right: 0px; margin-top: -20px;">
		            <i class="glyphicons glyphicons-group" style="color: #e9eaed; width: 100%; text-align: center; font-size: 20px; margin-bottom: 12px;"></i>
		            <span style="width: 100%; text-align: center; display: block; color: #a5abb3; font-size: 12px;">Nenhuma Viagem foi encontrado</span>
		          </div>
		        </ng-template>
    	</table-empty>  
      
      <column [key]="'motorist.DocumentId'" [header]="'Motorista'" [minWidth]="'82'">
          <ng-template let-item="item">
              {{item}}
          </ng-template>
      </column>
      <column [key]="'documentId'" [header]="'Documento'" [minWidth]="'82'">
          <ng-template let-item="item">
              {{item}}
          </ng-template>
      </column>
      <column [key]="'created'" [header]="'Criado'" [minWidth]="'82'">
          <ng-template let-item="item">
              {{item | date:'medium'}}
          </ng-template>
      </column>
      <column [key]="'inserted'" [header]="'Recebido'" [minWidth]="'82'">
          <ng-template let-item="item">
              {{item| date:'medium'}}
          </ng-template>
      </column>
      

      <context-menu
          [mode]="'click'"
          (onItemSelected)="contextMenuSelected($event)">
          <menu-item>
              <ng-template>
                  <span class="table-menu-icon fal fa-list"
                        aria-hidden="true"></span>
                  <span>Resumo</span>
              </ng-template>
          </menu-item>
          <menu-item>
              <ng-template>
                  <span class="table-menu-icon fal fa-user"
                        aria-hidden="true"></span>
                  <span>Motoristas</span>
              </ng-template>
          </menu-item>
          <menu-item>
              <ng-template>
                  <span class="table-menu-icon fal fa-truck"
                        aria-hidden="true"></span>
                  <span>Veículos</span>
              </ng-template>
          </menu-item>
          <menu-item>
              <ng-template>
                  <span
                      class="table-menu-icon fal fa-map"
                      aria-hidden="true"></span>
                  <span>Geográfico</span>
              </ng-template>
          </menu-item>
      </context-menu>

  	</data-table>
  </div>

</div>
