<div class="content-trip-places">
  <a class="toggle-sidebar" [ngClass]="toggleSidebarStatus ? 'toggleButtonSidebar' : ''"  (click)="toggleSidebar()"><i class="fal fa-angle-left"></i></a>
  <div class="places-sidebar" [ngClass]="toggleSidebarStatus ? 'closeSidebar' : ''">
    
    <sga-tabs 
      (tabSelected)="onTabSelected($event)" 
      [tabIndex]="selectedTabIndex"
      *ngIf="!showRegister"
      styleClass="tabs no-margin tabs-white">

      <!-- <sga-tab heading="Áreas">
        <sga-grid-control 
          [data]="areas"
          [useContext]="false"
          title="Áreas"
          (onCellRightClick)="onSelectedArea($event)"
          (onContextClick)="onContextMenu($event)"
          (onItemSelected)="onSelected($event)"
          (onRegisterClick)="openRegister('area')">
        </sga-grid-control>
      </sga-tab> -->

      <sga-modal *ngIf="showSelectGroup">
        <sga-modal-group 
          (onCancelDialog)="closeModalGroup()"
          (onSaveDialog)="onSelectedGroupByPlace($event)">
        </sga-modal-group>
      </sga-modal>

      <sga-tab heading="Lugares">
        <sga-grid-control 
          [data]="places"
          [useContext]="false"
          title="Lugares"
          (onCellRightClick)="onSelectedPlace($event)"
          (onContextClick)="onContextMenu($event)"
          (onItemSelected)="onSelected($event)"
          (onRegisterClick)="openRegister('place')">
        </sga-grid-control> 
      </sga-tab>

      <sga-tab heading="Itinerário">
        <!-- <sga-select-grouped 
          [groupedItems]="groupedItems"
          placeholder="Pesquise um lugar ou rota"
          (onSelected)="selectItineraryPlace($event)">
        </sga-select-grouped> -->
        <div class="cnt-places-header">
          <h1>Lugares</h1>
        </div>
        <div class="cnt-places-autocomplete">
          <sga-places-auto-complete
            (onPlacesFilteredEvent)="selectItineraryPlace($event)"
            styleClass="places-autocomplete">
          </sga-places-auto-complete>
        </div>

        <div class="cnt-places-added"  slimScroll>
          <div class="place-added" *ngFor="let item of itineraryPlaces; let i = index">
            <span class="number-radius">
              {{i + 1}}
            </span>
            <h5 title="{{item.name}}" class="title-place-added">
              {{(item.name.length>35)? (item.name | slice:0:35)+'...':(item.name)}}
            </h5>
            <div class="controls">
              <i (click)="addNewPlace(item)" title="Salvar" class="add-place fal fa-bookmark"></i>
              <i (click)="removeItineraryPlace(item)" title="Remover" class="remove-place fal fa-times-circle"></i>
            </div>
            
            <div class="reverse" *ngIf="i === 1 && itineraryPlaces.length === 2"
               (click)="revertPlaces()" >
               <i class="fal fa-exchange-alt">
               </i>
            </div>

            <div class="place-tags">
              <span>Item 1</span>
              <span>Item 1</span>
            </div>
          </div>
        </div>
        
        <section class="route-cnt">
          <div class="trip-info" *ngIf="itineraryPlaces?.length > 1">
            <sga-route-info 
              [duration]="route?.duration"
              [distance]="route?.distance"
            >
            </sga-route-info>
          </div>
          <div class="trip-places-lv" *ngIf="itineraryPlaces?.length === 0">
            <i class="fal fa-map"></i>
          </div>
          <div class="trip-places-header">
            <h3>Rotas semelhantes</h3>
            <i class="fa fa-question-circle ui-icon-info" style="position: inherit"></i>
          </div>
          <sga-route-info *ngIf="route"
            name="Rio - São Paulo"
            [duration]="route?.duration"
            [distance]="route?.distance"
          >
          </sga-route-info>
          <div class="trip-places-lv" *ngIf="!route">
            <i class="fal fa-map"></i>
          </div>
        </section>
      </sga-tab>
      
      <sga-tab heading="Grupos">
        <sga-register-group 
          *ngIf="showRegisterGroup"
          [group]="selectedGroup"
          (onBackButton)="closeRegisterGroup()"
          (onPlaceSelected)="onSelected($event)"
          (onRegisterNewItem)="registerNewGroupItem($event)">
        </sga-register-group>

        <sga-grid-control 
          [data]="groups"
          title="Grupos"
          [useContext]="true"
          *ngIf="!showRegisterGroup"
          (onContextClick)="onContextMenu($event)"
          (onItemSelected)="onSelected($event)"
          (onRegisterClick)="openRegister('group')">
        </sga-grid-control>
      </sga-tab>
    </sga-tabs>
    
    <sga-register 
      *ngIf="showRegister"
      [formType]="formType"
      [backParam]="selectedTabIndex"
      (onSubmitForm)="create($event)"
      (onRayChanged)="onRayChanged($event)"
      (onBackButton)="closeRegister($event)"
      (onPlaceSelected)="onPlaceSelected($event)"
      (onPreviewClicked)="draw($event)"
      >
    </sga-register>
  </div>

  <div class="places-detail box-shadow" [ngClass]="toggleSidebarStatus ? 'mapWide' : ''">

    <div class="cnt-select-map map-places-toggle">
      <label class="container" (click)="toggleMapStyle(map)">Mapa        
        <input type="radio" name="map" #map value="1" checked>
        <span class="checkmark"></span>
      </label>
      <label class="container" (click)="toggleMapStyle(street)">Satélite        
        <input type="radio" name="map" #street value="2" >
        <span class="checkmark"></span>
      </label>

    </div>
    <sga-map [showPolygonSquare]="true"></sga-map>
  </div>
</div>
