.cnt-trip-places {
  .places-sidebar,
  .places-detail {
    height: 100%;
    padding: 4px 10px 0 10px;
  }

  .places-sidebar {
    position: absolute;
    margin-top: 1em;
    width: 378px;
  }
  .places-detail {
    position: absolute;
    margin-top: 1em;
    left: 389px;
    padding: 0;
    right: 0;
  }
  .number-radius {
    border-radius: 1em;
    border: solid 1px;
    padding: 1px 4px;
    text-align: center;
    margin-right: 5px;
    -webkit-padding-start: 7px;
  }
}
