<div class="cnt-trip-places">
  <div class="places-sidebar box-shadow">
    <sga-register 
      *ngIf="showRegister"
      [backParam]="selectedTabIndex"
      (onBackButton)="closeRegister($event)"
      (onPlaceSelected)="onPlaceSelected($event)"
      (onSubmitForm)="createPlace($event)">
    </sga-register>

    <sga-tabs 
      (tabSelected)="onTabSelected($event)"
      [tabIndex]="selectedTabIndex"
      *ngIf="!showRegister"
      styleClass="tabs no-margin">

      <sga-tab heading="Áreas">
        <sga-grid-control 
          [data]="areas"
          [useContext]="false"
          title="Áreas"
          (onCellRightClick)="onSelectedArea($event)"
          (onContextClick)="onContextMenu($event)"
          (onItemSelected)="onSelected($event)"
          (onRegisterClick)="openRegister()">
        </sga-grid-control>
      </sga-tab>

      <sga-modal *ngIf="showSelectGroup">
        <sga-modal-group 
          (onSelectedGroup)="onSelectedGroupByPlace($event)"
          (onCloseDialog)="closeModalGroup()">
        </sga-modal-group>
      </sga-modal>

      <sga-tab heading="Lugares">
        <sga-grid-control 
          [data]="places"
          [useContext]="false"
          title="Lugares"
          (onCellRightClick)="onSelectedPlace($event)"
          (onContextClick)="onContextMenu($event)"
          (onItemSelected)="onSelected($event)"
          (onRegisterClick)="openRegister()">
        </sga-grid-control> 
      </sga-tab>
      
      <sga-tab heading="Grupos">
        <sga-register-group 
          *ngIf="showRegisterGroup"
          [group]="selectedGroup"
          (onBackButton)="closeRegisterGroup()"
          (onPlaceSelected)="onSelected($event)"
          (onRegisterNewItem)="registerNewGroupItem($event)">
        </sga-register-group>

        <sga-grid-control 
          [data]="groups"
          title="Grupos"
          [useContext]="true"
          *ngIf="!showRegisterGroup"
          (onContextClick)="onContextMenu($event)"
          (onItemSelected)="onSelected($event)"
          (onRegisterClick)="openRegister()">
        </sga-grid-control>
      </sga-tab>
    </sga-tabs>
  </div>

  <div class="places-detail box-shadow">
    <div id="map"></div>
  </div>
</div>
