.content-trip-places {
  position: absolute;
  width:100%;
  top: 0;
  height:100vh;
  .places-sidebar,
  .places-detail {
    height: 100%;
    
  }

  .places-sidebar {
    position: absolute;
       background:#454855;
    width: 378px;

    h1{
      font: 300 18.5px 'Sunflower', sans-serif;
      color:white;
      padding: 9px 3px 0;
      text-transform: uppercase;
    }
  }
  .places-detail {
    position: absolute;
    left: 389px;
    padding: 0;
    right: 0;
  }
  .number-radius {
    border-radius: 1em;
    border: solid 1px;
    padding: 1px 4px;
    text-align: center;
    margin-right: 5px;
    -webkit-padding-start: 7px;
  }
}
