<div class="column is-12 is-paddingless">
  <h5 class="trip-title">Dados da Viagem</h5>
  
  <div class="block column columns is-12 is-multiline">
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Id Cliente" name="idClient" #idClient ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Mercadoria/Produto" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Valor total do embarque" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Peso total (kg)" name="firstName" #idClient ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Previsão inicio" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Previsão fim" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Operação" name="firstName" #idClient ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Tipo" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Percurso" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Transportadora" name="firstName" #idClient ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Valor" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-4">
      <div class="control">
        <input class="input" type="text" placeholder="Peso" name="firstName" #firstName ngModel>
      </div>
    </div>
    <div class="column is-12">
      <div class="control">
        <input class="input" type="text" placeholder="Observação" name="firstName" #firstName ngModel>
      </div>
    </div>
  </div>
</div>