.has-height{
  width: 97.7%;
    height: 100%;
}

.wrapper {
 

  .sidebar,
  .detail {
    height: 100%;
    padding: 4px 10px 0 10px;
  }

  .sidebar {
    position: absolute;
    width: 377px;

    .header {
      color: #38425b;
      padding: 0 0 6px 0;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 7%;
    }

    .content {
      height: 11%;
    }
  }

  .detail {
    position: absolute;
    left: 369px;
    right: 0;
  }
}