.material-content-container {
  padding: 0;
  margin: 0;

  div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}
.area-map input.input{
   border-radius: 2px !important;
    font-size: .75rem !important;
}
.map-center-bar {
  position: absolute;
  width: 90%;
  max-width: 750px;
  margin: auto;
  left: 0;
  right: 0;
  padding-left: 9px;
  top: 31px;
  background: #fff;
}

.menu-map-center {
  align-items: center;
  display: flex;
  a {
    font-size: 19px;
    color: #cecece;
  }
}
