
<div class="modal-box" [ngClass]="showForm ? 'opened-modal' : ''">
  <div class="container-form content-modal">
    <div class="container-dialog-header columns column is-12 is-marginless">
      <div class="area column is-narrow">
        <h3 >Cadastro de Dispositivo</h3>  
      </div>
      <div class="column btn-close"> 
         <i  (click)="onCancel()" class="fal fa-times is-pulled-right"></i>
      </div>      
    </div>
    <div class="container-scroll">
      <form #formDevice="ngForm" (ngSubmit)="onSubmit()" class="block">

        <div class="columns column is-marginless is-multiline">
          <div class="column is-6">
            <label class="label is-small">Tipo</label>
            <div class="control">
              <input type="text" class="input" placeholder="ID" name="type" ngModel required />
            </div>
          </div>
          <div class="column is-6">
            <label class="label is-small">ID</label>
            <div class="control">
              <input type="text" class="input" placeholder="ID" name="idTerminal" ngModel required />
            </div>
          </div>
         
          <div class="column is-6">
            <label class="label is-small">Modelo</label>
            <div class="control">
              <input type="text" class="input" placeholder="Modelo" name="model" ngModel required/>
            </div>
          </div>
        
          <div class="column is-6">
            <label class="label is-small">Tecnologia</label>
            <div class="control">
              <input type="text" class="input" placeholder="Tecnologia" name="tech" ngModel required/>
            </div>
          </div>
          <div class="column is-6">
            <label class="label is-small">Comunicação</label>
            <div class="control">
              <input type="text" class="input" placeholder="Make" name="comunication" ngModel required/>
            </div>
          </div>
          <div class="column is-6">
            <label class="label is-small">Nome</label>
            <div class="control">
              <input type="text" class="input" placeholder="Nome" name="name" ngModel required/>
            </div>
          </div>
          <div class="column is-12">            
            <div class="field is-grouped is-pulled-right">
              <div class="control">
                <button class="button" (click)="onCancel()" >Cancelar</button>
              </div>
              <div class="control">
                <button class="button is-first" [disabled]="!formDevice.valid">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>