
<div class="modal-box" [ngClass]="showForm ? 'opened-modal' : ''">
  <div class="container-form content-modal">
    <div class="container-dialog-header columns column is-12 is-marginless">
      <div class="area column is-narrow">
        <h3 >Cadastro de Dispositivo</h3>  
      </div>
      <div class="column btn-close"> 
         <i  (click)="onCancel()" class="fal fa-times is-pulled-right"></i>
      </div>      
    </div>
    <div class="container-scroll">
      <form #formDevice="ngForm" (ngSubmit)="onSubmit()" class="block">

        <div class="columns column is-marginless is-multiline">
          <div class="column is-6">
            <label class="label is-small">Tipo</label>
            <div class="control">
              <input type="text" class="input" placeholder="ID" name="type" ngModel required />
            </div>
          </div>
          <div class="column is-6">
            <label class="label is-small">ID</label>
            <div class="control">
              <input type="text" class="input" placeholder="ID" name="idTerminal" ngModel required />
            </div>
          </div>
         
          <div class="column is-6">
            <label class="label is-small">Modelo</label>
            <div class="control">
              <input type="text" class="input" placeholder="Modelo" name="model" ngModel required/>
            </div>
          </div>
          
          <div class="column is-6">
          <label class="label is-small">Tecnologia</label>   
                          <div class="control">
                            <div class="select">
                              <select [(ngModel)]="model.technology" 
                                      #technology="ngModel"
                                      name="technology"
                                      [ngClass]="{'is-danger': technology.invalid && (technology.dirty || technology.touched)}"
                                      required>                               
                                <option value="OMNILINK">OMNILINK</option> 
                                <option value="AUTOTRAC">AUTOTRAC</option>
                              </select>
                            </div>
                          </div>
                       
            
          </div>
          <div class="column is-6">
              <label class="label is-small">Comunicação</label>  
            <div class="control">
              <div class="select">
                <select [(ngModel)]="model.comunication" 
                        #comunication="ngModel"
                        name="comunication"
                        [ngClass]="{'is-danger': comunication.invalid && (comunication.dirty || comunication.touched)}"
                        required>                               
                  <option value="GPS/GPRS">GPS/GPRS</option>
                  <option value="GPS/DUPLO GPRS">GPS/DUPLO GPRS</option>
                  <option value="GPS/GPRS+SATÉLITE">GPS/GPRS+SATÉLITE</option>
                  <option value="GPS/SATÉLITE">GPS/SATÉLITE</option>
                  <option value="GPS/GPRS GLOBAL">GPS/GPRS GLOBAL</option>
                  <option value="RF/GPS/GPRS">RF/GPS/GPRS</option>
                </select>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <label class="label is-small">Nome</label>
            <div class="control">
              <input type="text" class="input" placeholder="Nome" name="name" ngModel required/>
            </div>
          </div>
          <div class="column is-12">            
            <div class="field is-grouped is-pulled-right">
              <div class="control">
                <button class="button" (click)="onCancel()" >Cancelar</button>
              </div>
              <div class="control">
                <button class="button is-first" [disabled]="!formDevice.valid">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>