<div class="cnt-dialog">
  <div class="container-form">
    <div class="form-header columns column is-12 is-marginless">
      <h3 class="area column is-narrow">Dispositivo</h3>
      <h2 class="action column">Cadastro</h2>
    </div>
    <div class="container-scroll">
      <form #formDevice="ngForm" (ngSubmit)="onSubmit(formDevice)" class="columns is-centered">
        <div class="column is-5">
          <div class="field">
            <label class="label">ID</label>
            <div class="control">
              <input type="text" class="input" placeholder="ID" name="id" ngModel required />
            </div>
          </div>
          <div class="field">
            <label class="label">Modelo</label>
            <div class="control">
              <input type="text" class="input" placeholder="Modelo" name="model" ngModel required/>
            </div>
          </div>
        </div>

        <div class="column is-5">
          <div class="field">
            <label class="label">Apelido</label>
            <div class="control">
              <input type="text" class="input" placeholder="Apelido" name="alias" ngModel required/>
            </div>
          </div>
          <div class="field">
            <label class="label">Tecnologia</label>
            <div class="control">
              <input type="text" class="input" placeholder="Tecnologia" name="tech" ngModel required/>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button" (click)="onCancel()" >Cancelar</button>
            </div>
            <div class="control">
              <button class="button is-info" [disabled]="!formDevice.valid">Cadastrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>