<div class="columns">
  <nav class="breadcrumb column is-8" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="is-active"><a>Reboque</a></li>
      <li class="is-active"><a href="#" aria-current="page">Mapa</a></li>
    </ul>
    <h5>Mapa</h5>
  </nav>
  <sga-sidebar-configuration class="column is-4"></sga-sidebar-configuration>
</div>
<div class="material-content-container cnt-map">
  <div id="map" #mapSelector></div>
</div>
<div class="map-center-bar columns">
  <div class="column menu-map-center">
   <a class="fal" [ngClass]="status ? 'fa-times' : 'fa-bars'" (click)="toggleMapType()"></a>
      <div class="cnt-select-map" [ngClass]="status ? 'opened' : 'closed'">
      <label class="container" (click)="toggleMapStyle(map)">Mapa        
        <input type="radio" name="map" #map value="1" checked>
        <span class="checkmark"></span>
      </label>
      <label class="container" (click)="toggleMapStyle(street)">Satélite        
        <input type="radio" name="map" #street value="2" >
        <span class="checkmark"></span>
      </label>

    </div>
  </div>
  <div class="column is-4">     
    <p class="control has-icons-left"> 
      <input [(ngModel)]="text" class="input is-small"  placeholder="Buscar" type="text"/>
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>       
    </p>
  </div>
  <sga-map-filter 
    (placesFiltered)="onPlacesFiltered($event)" 
    (filterRemoved)="onPlacesFilterRemoved()"
    class="column is-11">
  </sga-map-filter>
</div>

