@import "../../../styles.scss";

.cnt-trip{
	position: absolute;
    top: 115px;
  // background: #FFF;
  bottom: 0;
}
.trip-title{
 font-size:14px;
 font-weight:bold;
 color:$bg-titles;
}
.cnt-detail .select,
.cnt-detail .select select {
	width:100% !important;
}

.prev-button, .next-button{
  position: absolute;
  border: 1px solid #04d1b3;
  padding: 7px;
  border-radius: 50%;
  color: #04d1b3;
  top: 29px;
  cursor:pointer;
  transition:all 200ms ease;
  &:hover{
    color:#FFF;
    background:#04d1b3;
  }
}
.prev-button{
  left: 0;       
}
.next-button{
  right: 0;       
}