@import "../../../styles.scss";

.cnt-trip{
	position: absolute;
  top:93px; 
  // background: #FFF;
  bottom: 0;
}
.trip-title{
	background:$bg-titles;
	color:#FFF;
	padding: 10px 17px;
  display: inline-block;
  margin: 0px 22px;
}
.cnt-detail .select,
.cnt-detail .select select {
	width:100% !important;
}