<div class="columns header-content">
  <nav  class="breadcrumb column is-8 is-paddingless" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="is-active"><a href="#">Viagens</a></li>
      <li class="is-active"><a href="#" aria-current="page">Cadastrar</a></li>
    </ul>
  </nav>
 <!--  <div class="columns column is-4 header-content-right">    
    <sga-sidebar-configuration  (onSelectOption)="onSelectOption($event)" class="column is-6">
      <sga-option header="Seleção de Colunas"></sga-option>
    </sga-sidebar-configuration>
  </div>  --> 
</div>

<div class="columns is-multiline content-trip">
	<div class="column is-12 trip-header">
	  <sga-steps [width]="'98%'" (onSelectStep)="onSelectStep($event)">
	    <sga-step [header]="'Geral'" [icon]="'fal fa-home'"></sga-step>
	    <sga-step [header]="'Itinerário'" [icon]="'fal fa-map'"></sga-step>
	    <sga-step [header]="'Motorista'" [icon]="'fal fa-user'"></sga-step>
	    <sga-step [header]="'Veículos'" [icon]="'fal fa-truck'"></sga-step>
	    <sga-step [header]="'Reboque'" [icon]="'fal fa-truck-container'"  [hasGap]="true"></sga-step>
	    <sga-step [header]="'Dispositivo'" [icon]="'fal fa-wrench'" [isHollow]="true"></sga-step>
	  </sga-steps>
	</div>
	<div class="column is-12 is-paddingless cnt-trip">
		<router-outlet></router-outlet>
	</div>
</div>
