@import "../../../styles.scss";

.cnt-trip{
	position: absolute;
  top:93px; 
  // background: #FFF;
  bottom: 0;
}
.trip-title{
 font-size:14px;
 font-weight:bold;
 color:$bg-titles;
}
.cnt-detail .select,
.cnt-detail .select select {
	width:100% !important;
}