<div class="content-history">
  <div class="history-sidebar" >

    <div class="list-motorists" *ngIf="!showHistoryDetail">
      <div class="list-motorists-header">
        MOTORISTAS
      </div>
      <div slimScroll  [options]="opts" [scrollEvents]="scrollEvents" class="cnt-list-motorists">
         <div (click)="openDetailHistory(motorist)" *ngFor="let motorist of motoristsList | pager: {page:currentPage, quantity: pageQuantity}; let rowIndex = index;" class="motorist">
          <div class="cnt-img">
            <img (click)="showMotoristModal(item)" style="width: 40px; height: 40px; border-radius: 50%;" src="{{'api/motorist/public/profileImage?id=' + item}}"
              alt="">
          </div> 
          <div class="cnt-text">
            <h4>{{motorist?.firstName}} {{motorist?.lastName}}</h4>
            <p>{{motorist?.documentId}}</p>  
          </div>  
         </div>         
        </div>  
       <div class="footer-list-motorist">
          <a class="button is-dark-blue" (click)="getMoreMotorists()"> Carregar mais </a>         
       </div>    
    </div>

    <sga-history-detail 
      *ngIf="showHistoryDetail"
      [selectedMotorist]="selectedMotorist"
      (onBackButton)="closeDetail($event)">    
    </sga-history-detail >   
   
  </div>
  <div class="history-detail">
    <sga-map [showPolygonSquare]="false"></sga-map>
  </div>
</div>
