<div class="material-content-container cnt-map">
  <sga-map></sga-map>
</div>
<a class="back-button" href="" routerLink="/device/grid"><i class="fal fa-long-arrow-left"></i> Voltar</a>

<div class="map-center-bar columns">
  <div class="column menu-map-center">
    <a class="fal" [ngClass]="status ? 'fa-times' : 'fa-bars'" (click)="toggleMapType()"></a>
    <div class="cnt-select-map" [ngClass]="status ? 'opened' : 'closed'">
      <label class="container" (click)="toggleMapStyle(map)">Mapa        
        <input type="radio" name="map" #map value="1" checked>
        <span class="checkmark"></span>
      </label>
      <label class="container" (click)="toggleMapStyle(street)">Satélite        
        <input type="radio" name="map" #street value="2" >
        <span class="checkmark"></span>
      </label>

    </div>
  </div>
  <div class="column is-4">     
    <p class="control has-icons-left"> 
      <input [(ngModel)]="text" class="input is-small" placeholder="Buscar" type="text"/>
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>       
    </p>    
  </div>
  <sga-map-filter 
    (placesFiltered)="onPlacesFiltered($event)" 
    (filterRemoved)="onPlacesFilterRemoved()"
    class="column is-11">
  </sga-map-filter>
</div>