<div class="modal-box" [ngClass]="showDialog ? 'opened-modal' : ''">
  <div class="content-modal columns is-12 is-multiline">
      <div class="container-dialog-header columns column is-12 is-marginless">
        <div class="area column is-narrow">
          <h3 >Motorista</h3>  
        </div>
        <div class="column btn-close"> 
           <i  (click)="onClose()" class="fal fa-times is-pulled-right"></i>
        </div>      
      </div>
      <div class="cnt-personal-data columns column is-12 is-multiline is-marginless">
          <div class="header-modal-title">
              <h4 class="ttl-profile column is-11">Dados pessoais</h4>
              <i class="fa fa-question-circle ui-icon-info column is-1"></i>
          </div>
          <div class="columns column is-12">
              <div class="column is-narrow cnt-profile">
                <div class="profile-photo">
                  <img *ngIf="selectedMotorist != null" src="{{selectedMotorist.avatar.url}}"
                  alt="">
                </div>                
              </div>
              <div class="column is-three-quarters">
                  <div class="field-body field">
                    <div class="field">
                      <label class="label is-small">Nome</label>
                      <span class="personal-info">
                        {{selectedMotorist == null ? '-' : selectedMotorist?.firstName}} 
                        {{selectedMotorist == null ? '-' : selectedMotorist?.lastName}}
                      </span>
                    </div>
                    <div class="field">
                      <label class="label is-small">Documento</label>
                      <span class="personal-info">{{selectedMotorist == null ? '-' : selectedMotorist?.documentId}}</span>
                    </div>
                    <div class="field">
                      <label class="label is-small">Data de nascimento</label>
                      <span class="personal-info">{{selectedMotorist?.dateOfBirth | date}}</span>
                    </div>
                    <div class="field">
                      <label class="label is-small">Endereço</label>
                      <span class="personal-info">{{selectedMotorist?.address}}</span>
                    </div>
                  </div>
                  <div class="field-body field">
                    
                    <div class="field">
                      <label class="label is-small">Telefone</label>
                      <span class="personal-info">{{selectedMotorist == null ? '-' : selectedMotorist?.cellPhone}}</span>
                    </div>      
                    <div class="field">
                      <label class="label is-small">Email</label>
                      <span class="personal-info">{{selectedMotorist?.email}}</span>
                    </div>
                    <div class="field">
                      <label class="label is-small">Aplicativo</label>
                      <span class="personal-info">
                        {{selectedMotorist?.device?.appVersion == null ? '-' : 'Siga v.' + selectedMotorist?.device?.appVersion}} | {{selectedMotorist?.device?.platform
                        == null ? '-' : selectedMotorist?.device?.platform}}
                      </span>
                    </div>               
                  </div>
              </div>
          </div>
      </div>

      <div class="columns column is-12 is-multiline is-marginless">
        <div class="header-modal-title">
           <h4 class="ttl-profile column is-11">Perfil</h4>
           <i class="fa fa-question-circle ui-icon-info column is-1"></i>
        </div>
        <div class="column is-12 is-multiline is-paddingless">
          <div class="field-body field">            
            <div class="field column">
              <label class="label is-small">Ranking</label>
               <span class="personal-info">
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>               
               </span>
            </div>      
            <div class="field column">
              <label class="label is-small">GR</label>
               <span class="personal-info">
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 
               </span>
            </div> 
            <div class="field column">
              <label class="label is-small">Logística</label>
              
               <span class="personal-info">
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
                 <i class="stars fa fa-star" aria-hidden="true"></i>
               </span>
            
            </div>
            <div class="field column">
              <label class="label is-small">Viagens</label>
              <span class="personal-info"> 44 </span>
            </div>                       
          </div>
          <div class="field-body field">            
            <div class="field column">
              <label class="label is-small">Quilômetros</label>
              <span class="personal-info"> 11987 </span>
            </div>      
            <div class="field column">
              <label class="label is-small">Horas</label>
              <span class="personal-info"> 387 </span>
            </div>   
            <div class="field column">
              <label class="label is-small">Vídeos</label>
              <span class="personal-info"> 19 </span>
            </div>   
            <div class="field column">
              <label class="label is-small">Restrições</label>
              <span class="personal-info"> 0 </span>
            </div>                    
          </div>
        </div> 
      </div>

      
  </div>
</div>