<div class="history-head">
  <div class="back">
     <i class="fal fa-long-arrow-left" (click)="onBack()";"></i>
  </div>
  <span class="subtitle">
    <p>{{selectedMotorist?.firstName}} {{selectedMotorist?.lastName}}</p>
    {{selectedMotorist?.email}}
  </span>
  <div class="back-grid">
    <a href="" class="fal fa-window-close"  (click)="onBackGrid()"></a>
  </div>
</div>
<div class="history-content">
  <div *ngFor="let history of selectedMotorist?.history" class="columns">
    <div class="column is-narrow">
      <span class="marker-icon">
        <i class="fal fa-map-marker"></i>
      </span>
    </div>
    <div class="column is-narrow">
      <span class="subtitle">
        <p>lat/lon</p>
        {{history.latitude}}, {{history.longitude}} 
      </span>
    </div>
    <div class="column"> 
      <span class="subtitle">
        <p>Velocidade</p>
        {{history.speed}} km/h 
      </span>
    </div>
    <div class="column"> 
      <span class="subtitle">
        {{history.date | date: 'dd/MM/yyyy'}}
      </span>
    </div>
  </div>
</div>

   
 

