.cnt-trip-places {
  .places-sidebar,
  .places-detail {
    height: 100%;
    padding: 4px 10px 0 10px;
  }
  .trip-places-header {
    color: #38425b;
    padding: 0 0 6px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
  }
  .places-sidebar {
    position: absolute;
    margin-top: 1em;
    width: 378px;

    .container-grid {
      margin-top: 6em;
      right: 0px;
      left: 0px;
    }
  }
  .places-detail {
    position: absolute;
    margin-top: 1em;
    left: 389px;
    padding: 0;
    right: 0;
  }
}
