
.content-modal{
    background-color: #FFF;
    width: 100%;
    max-width:600px;
    max-height: 91%;
    background: #ffffff;
    -webkit-box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, 0.1);
    .cnt-profile{
      width: 143px;
    }
    .cnt-personal-data{
      position: relative;

      &:after{
        content: '';
          width: 96%;
          height: 1px;
          position: absolute;
          background: #e2e1e1;
          left: 0;
          right: 0;
          margin: auto;
          bottom: -2px;

      }
      .field{
        margin-bottom: 13px;
      }
    }

   
    label{
      margin: 0;
      line-height: 1;
    }
    .header-modal{
        margin-bottom:20px;
    }
    .header-modal-title{
        width: 100%;
        display: flex;
    }
    .motorist-profile-info {        
        padding-left:25px;
    }
}

.container-dialog-header {
    padding: 0;
    h3 {
      color: #4d5675;
      margin-left: 11px;
      display: flex;
      align-items: center;
      font: 300 24.05px 'Sunflower', sans-serif;
      position: relative;

      &:after{
        left: 2px;
          bottom: -1px;
          content: "";
          position: absolute;
          height: 1px;
          background: #8c96b9;
          width: 54%;
        }
    }
    .btn-close i{
      color: #8a90a4;
      border: 1px solid #b5b9c5;
      font-size: 18px;
      cursor: pointer;
      padding: 1px 6px;
      border-radius: 2px;
      transition:all 200ms ease;
      &:hover{
        color: #FFF;
        background: #4d5675;
        border: 1px solid #4d5675;
      }

    }
}



.profile-photo{
    width: 100%;
    max-width: 125px;
    height: 125px;
    border-radius: 50%;
    display: block;
    background: #aaaaaa url(/assets/layout/unknown_user.png) no-repeat center center;
    background-size: contain;

    img{
      width: 196px; 
      height: 196px;
    }
}
.vehicle-photo{
    width: 100%;
    max-width: 125px;
    height: 125px;
    border-radius: 50%;
    display: block;
    background: #aaaaaa url(/assets/layout/unknown_truck.png) no-repeat center center;
    background-size: contain;
    img{
      width: 196px; 
      height: 196px;
    }
}
 
.ttl-profile {
  color: #72747d;
  font: 300 20px 'Sunflower', sans-serif;
}

.ui-icon-info {
  color: #7182a9;
  text-align: right;
  cursor: pointer;
}


.personal-info {
  font-size: 14px;
  color: #76787d;
}


.motorist-profile-info-item {
  height: 56px;
  line-height: 16px;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #424242;
}

.motorist-list-item {
  font-size: 12px;
  background: #ffffff;
  height: 60px;
  line-height: 60px;
  color: #333333;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #d4d4d4;
}

.motorist-list-item-route {
  font-size: 12px;
  background: #ffffff;
  height: 42px;
  line-height: 42px;
  color: #5cb85c;
  border-bottom: 1px solid;
  border-color: #d4d4d4;
}

.map-container {
  position: absolute;
  left: 400px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
}

/************************************* Route tab *****************************************/

.listview-item-destination {
  font-size: 12px;
  background: #ffffff;
  min-height: 42px;
  color: #5cb85c;
  border-color: #d4d4d4;
  float: left;
  width: 100%;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}

.listview-item-destination.selected
  > .listview-item-destination-wrapper
  > .listview-item-destination-name {
  color: #5cb85c;
}

.listview-item-destination.selected > .listview-item-destination-index {
  background-color: #5cb85c;
}

.listview-item-destination-wrapper {
  float: left;
  width: 230px;
  position: relative;
}

.listview-item-destination-index {
  width: 22px;
  background-color: #babbbd;
  position: absolute;
  top: 0px;
  bottom: 0px;
  color: #fff;
}

.listview-item-destination-index > span {
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.listview-item-destination-name {
  color: #333333;
  display: block;
  font-size: 14px;
  margin: 4px 4px 0px 30px;
}

.listview-item-destination-address {
  display: block;
  font-size: 10px;
  margin: 0px 0px 4px 30px;
  color: #777;
}

.listview-item-destination-remove {
  line-height: 42px;
  float: right;
  margin-right: 12px;
  color: #0066ff;
  cursor: pointer;
}

/************************************* Motorists tab *****************************************/

.stars {
  color: #aaa;
}

.motorist-profile-metrics {
  height: 56px;
  line-height: 16px;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #424242;  
}

/************************************* Vehicle tab *****************************************/

.vehicle-profile-info-item {
  height: 56px;
  line-height: 16px;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #424242;
  float: left;
  width: 240px;
}
