
<div class="modal-box" [ngClass]="showForm ? 'opened-modal' : ''">
  <div class="container-form content-modal">
    <div class="container-dialog-header columns column is-12 is-marginless">
      <div class="area column is-narrow">
        <h3 >Cadastro de Veículo</h3>  
      </div>
      <div class="column btn-close"> 
         <i  (click)="cancel()" class="fal fa-times is-pulled-right"></i>
      </div>      
    </div>
    <div class="container-scroll">    
      
      <form novalidate (ngSubmit)="onSubmit()" class="cnt-form" #formVehicle="ngForm">
          <sga-tabs 
            [tabIndex]="selectedTabIndex"
            styleClass="tabs no-margin tabs-register">

            <sga-tab heading="Dados do Veículo">
                  <!-- Dados pessoais -->
                  <div class="cnt-info columns">
                    <div class="column input-profile-photo">
                      <div class="control">
                        <div class="file">
                          <label class="file-label">
                            <input class="file-input" type="file" name="resume" (change)="addProfilePhoto($event)">
                            <span class="file-cta">
                              <div>
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                  Escolha uma <br>   foto...
                                </span>
                              </div>                              
                            </span>
                          </label>
                        </div>
                        <div class="img-profile"> </div>
                        <a class="remove-img-profile" (click)="removeProfilePhoto()">                   
                          <span>Remover Foto</span>
                        </a>
                        
                      </div>
                    </div>


                    <div class="column  is-10">


                      <div class="field-body field">  

                        <div class="field is-4 column is-marginless" >
                          <label class="label is-small">Placa</label>                                                
                          <div class="control">
                            <input  type="text" 
                                    class="input" 
                                    placeholder="Placa" 
                                    name="numberPlate"                   
                                    [(ngModel)]="model.numberPlate"
                                    #numberPlate="ngModel"
                                    [ngClass]="{'is-danger': numberPlate.invalid && (numberPlate.dirty || numberPlate.touched)}"
                                    required>
                                    <div class="form-control-feedback"
                                          *ngIf="numberPlate.errors && (numberPlate.dirty || numberPlate.touched)">
                                         <p class="help is-danger" *ngIf="numberPlate.errors.required">Placa é obrigatório</p>
                                    </div>
                          </div>
                        </div>
                        <div class="field is-4 column is-marginless" >
                          <label class="label is-small">Renavan</label>                                               
                          <div class="control">
                            <input  type="number" 
                                    class="input" 
                                    placeholder="Renavan" 
                                    name="renavan"                  
                                    [(ngModel)]="model.renavan"
                                    #renavan="ngModel"
                                    [ngClass]="{'is-danger': renavan.invalid && (renavan.dirty || renavan.touched)}"
                                    required>
                                    <div class="form-control-feedback"
                                          *ngIf="renavan.errors && (renavan.dirty || renavan.touched)">
                                         <p class="help is-danger" *ngIf="renavan.errors.required">Renavan é obrigatório</p>
                                    </div>
                          </div>
                        </div>
                        <div class="field is-4 column is-marginless" >
                          <label class="label is-small">Marca</label>
                                                
                         <div class="control">                             
                           <div class="select">                      
                             <select  name="make"
                                      [(ngModel)]="model.make" 
                                      #make="ngModel"
                                      [ngClass]="{'is-danger': make.invalid && (make.dirty || make.touched)}"
                                      required>                      
                               <option value="Agrale">Agrale</option>
                               <option value="Chrysler">Chrysler</option>
                               <option value="Citroen">Citroen</option>
                               <option value="Fiat">Fiat</option>
                               <option value="Fnm">Fnm</option>
                               <option value="Ford">Ford</option>
                               <option value="GM/Chevrolet">gm/chevrolet</option>                                
                               <option value="Honda">Honda</option>
                               <option value="Hyundai">Hyundai</option>
                               <option value="International">International</option>
                               <option value="Iveco/fiat">Iveco/fiat</option>
                               <option value="Kia">Kia</option>
                               <option value="Mercedes benz">Mercedes benz</option>
                               <option value="Mitsubishi">Mitsubishi</option>                              
                               <option value="Peugeot">Peugeot</option>
                               <option value="Renault">Renault</option>
                               <option value="Scania">Scania</option>
                               <option value="Sinotruk">Sinotruk</option>
                               <option value="Toyota">Toyota</option>
                               <option value="Volvo">Volvo</option>
                               <option value="Vw">Vw</option>
                               <option value="Outros">Outros</option>
                             </select>
                           </div>                   
                         </div>
                         <div class="form-control-feedback"
                               *ngIf="make.errors && (make.dirty || make.touched)">
                             <p class="help is-danger" *ngIf="make.errors.required">Marca é Obrigatória</p>
                         </div>
                         
                        </div>  


                      </div>    

                      <div class="field-body field">    

                        <div class="field is-4 column is-marginless" >
                          <label class="label is-small">Modelo</label>
                          <div class="control">                          
                              <input  type="text" 
                                      class="input" 
                                      name="model" 
                                      placeholder="Modelo" 
                                      [(ngModel)]="model.model" 
                                      #model="ngModel"
                                      [ngClass]="{'is-danger': model.invalid && (model.dirty || model.touched)}"
                                      required>
                              <div class="form-control-feedback"
                                   *ngIf="model.errors && (model.dirty || model.touched)">
                                   <p class="help is-danger" *ngIf="model.errors.required">Modelo é obrigatório</p>
                              </div>
                          </div>
                        </div>

                        <div class="field is-4 column is-marginless">
                          <label class="label is-small">Cor</label>                                               
                          <div class="control">                             
                            <div class="select">                      
                              <select  name="colour"
                                       [(ngModel)]="model.colour" 
                                       #colour="ngModel"
                                       [ngClass]="{'is-danger': colour.invalid && (colour.dirty || colour.touched)}"
                                       required>                      
                                <option value="Amarelo">Amarelo</option>
                                <option value="Azul">Azul</option>
                                <option value="Branco">Branco</option>
                                <option value="Cinza">Cinza</option>
                                <option value="Laranja">Laranja</option>
                                <option value="Marrom">Marrom</option>                        
                                <option value="Verde">Verde</option>
                                <option value="Vermelho">Vermelho</option>
                                <option value="Prata">Prata</option>
                                <option value="Preto">Preto</option>
                                <option value="Rosa">Rosa</option>
                                <option value="Roxo">Roxo</option>
                              </select>
                            </div>                   
                          </div>
                          <div class="form-control-feedback"
                                *ngIf="colour.errors && (colour.dirty || colour.touched)">
                              <p class="help is-danger" *ngIf="colour.errors.required">Escolha uma cor</p>
                          </div>
                        </div>

                        <div class="field is-4 column is-marginless" >
                          <label class="label is-small">Ano de Fab.</label>                                                
                          <div class="control">                 
                              <input 
                                     type="text" 
                                     class="input" 
                                     placeholder="Ano de Fab."  
                                     name="year"
                                     [(ngModel)]="model.year"
                                     #year="ngModel"
                                     [ngClass]="{'is-danger': year.invalid && (year.dirty || year.touched)}"
                                     required>
                                     
                          </div>
                          <div class="form-control-feedback"
                                *ngIf="year.errors && (year.dirty || year.touched)">
                              <p class="help is-danger" *ngIf="year.errors.required">Nº é obrigatório</p>
                          </div>
                        </div> 

                      </div>

                      <div class="field-body field">    
                         <div class="field  is-4 column is-marginless">                         
                          <label class="label is-small">Tipo</label>        
                          <div class="control">
                            <div class="select">                            
                            <select [(ngModel)]="model.vehicleType" name="vehicleType" required #vehicleType="ngModel"
                                 [ngClass]="{
                                   'is-danger': vehicleType.invalid && (vehicleType.dirty || vehicleType.touched)
                                  }">
                              <option value="AUTOMOVEL">AUTOMÓVEL</option>
                              <option value="CAVALO MECANICO">CAVALO MECÂNICO</option>
                              <option value="TOCO">TOCO</option>
                              <option value="D">TRUCK</option>
                              <option value="UTILITÁRIO LEVE">UTILITÁRIO LEVE</option>
                              <option value="VAN">VAN</option>
                              <option value="VUC">VUC</option>
                            </select>
                            </div>
                          </div>
                          <div class="form-control-feedback"
                                *ngIf="vehicleType.errors && (vehicleType.dirty || vehicleType.touched)">
                              <p class="help is-danger" *ngIf="vehicleType.errors.required">Tipo é obrigatório</p>  
                          </div>
                        </div>
                        <div class="field  is-4 column is-marginless"> 
                          <label class="label is-small">Capacidade</label>    
                          <div class="control">                    
                            <input  type="number" 
                                    class="input" 
                                    placeholder="(Kg)"  
                                    name="capacity"
                                    [(ngModel)]="model.capacity"
                                    #capacity="ngModel"
                                    [ngClass]="{'is-danger': capacity.invalid && (capacity.dirty || capacity.touched) }"
                                    required>

                          </div>
                          <div class="form-control-feedback"
                                *ngIf="capacity.errors && (capacity.dirty || capacity.touched)">
                              <p class="help is-danger" *ngIf="capacity.errors.required">Capacidade é obrigatório</p>
                          </div>
                        </div>
                        <div class="field  is-4 column is-marginless">
                          <label class="label is-small">Nº Frota</label>                          
                          <div class="control">
                            <input  type="text" 
                                    class="input" 
                                    placeholder="Nº Frota"  
                                    name="fleetNumber"
                                    [(ngModel)]="model.fleetNumber"
                                    #fleetNumber="ngModel"
                                    required>                        
                          </div>  
                        </div>
                       

                      </div>


                      <div class="field-body field">
                        <div class="field  is-4 column is-marginless">
                          <label class="label is-small">Nº registro ANTT</label>   
                          <div class="control">
                            <input [(ngModel)]="model.anttNumber"  
                                  #anttNumber="ngModel" 
                                  class="input" 
                                  name="anttNumber"
                                  type="number" 
                                  placeholder="Nº  registro ANTT"
                                  [ngClass]="{'is-danger': anttNumber.invalid && (anttNumber.dirty || anttNumber.touched) }"
                                  required>
                          </div>
                          <div class="form-control-feedback"
                                *ngIf="anttNumber.errors && (anttNumber.dirty || anttNumber.touched)">
                              <p class="help is-danger" *ngIf="anttNumber.errors.required">Nº registro ANTT é obrigatório</p>
                          </div>
                        </div>

                        <div class="field  is-4 column is-marginless">
                          <label class="label is-small">Validade ANTT</label>  
                          <div class="control">
                            <input  type="date" 
                                    class="input" 
                                    placeholder="Validade ANT" 
                                    name="anttDueDate"
                                    [(ngModel)]=model.anttDueDate
                                    #anttDueDate="ngModel"
                                    [ngClass]="{'is-danger': anttDueDate.invalid && (anttDueDate.dirty || anttDueDate.touched)}" 
                                    required> 
                            
                          </div>
                          <div class="form-control-feedback"
                                *ngIf="anttDueDate.errors && (anttDueDate.dirty || anttDueDate.touched)">
                              <p class="help is-danger" *ngIf="anttDueDate.errors.required">Validade ANT é obrigatória</p>
                          </div>
                        </div>     
                      </div>
                      <div class="field-body field">
                        <div class="is-6 column is-marginless">
                          
                          <label class="label is-small">Tecnologia</label>   
                          <div class="control">
                            <div class="select">
                              <select [(ngModel)]="model.tech" 
                                      #tech="ngModel"
                                      name="tech"
                                      [ngClass]="{'is-danger': tech.invalid && (tech.dirty || tech.touched)}"
                                      required>                               
                                <option value="OMNILINK">OMNILINK</option> 
                                <option value="AUTOTRAC">AUTOTRAC</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-control-feedback"
                                *ngIf="tech.errors && (tech.dirty || tech.touched)">
                              <p class="help is-danger" *ngIf="tech.errors.required">Tecnologia é obrigatório</p>
                          </div>
                        </div>

                        <div class="is-6 column is-marginless">
                          
                          <label class="label is-small">Comunicação</label>   
                          <div class="control">
                            <div class="select">
                              <select [(ngModel)]="model.comunication" 
                                      #comunication="ngModel"
                                      name="comunication"
                                      [ngClass]="{'is-danger': comunication.invalid && (comunication.dirty || comunication.touched)}"
                                      required>                               
                                <option value="GPS/GPRS">GPS/GPRS</option>
                                <option value="GPS/DUPLO GPRS">GPS/DUPLO GPRS</option>
                                <option value="GPS/GPRS+SATÉLITE">GPS/GPRS+SATÉLITE</option>
                                <option value="GPS/SATÉLITE">GPS/SATÉLITE</option>
                                <option value="GPS/GPRS GLOBAL">GPS/GPRS GLOBAL</option>
                                <option value="RF/GPS/GPRS">RF/GPS/GPRS</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-control-feedback"
                                *ngIf="comunication.errors && (comunication.dirty || comunication.touched)">
                              <p class="help is-danger" *ngIf="comunication.errors.required">Vínculo é obrigatório</p>
                          </div>
                        </div>
                      </div>
                      
                    </div>

                  </div>

            </sga-tab>

            <sga-tab heading="Dados do Proprietário">
              <!-- Endereço -->
                  <div class="cnt-info columns" style="align-items: flex-start;">
                    
                  
                    <div class="columns column is-multiline">
                     

                      <div class="column is-12">
                        <div class="control">
                          <label class="label is-small">Nome</label>  
                          <input  type="text"
                                  class="input" 
                                  placeholder="Nome"  
                                  name="ownerName"
                                  [(ngModel)]="model.ownerName" required #ownerName="ngModel"
                                  [ngClass]="{'is-danger': ownerName.invalid && (ownerName.dirty || ownerName.touched)}">
                        </div>
                        <div class="form-control-feedback"
                              *ngIf="ownerName.errors && (ownerName.dirty || ownerName.touched)">
                            <p class="help is-danger" *ngIf="ownerName.errors.required">Nome é obrigatório</p>
                        </div>
                      </div>              

                     <div class="column is-3">
                       <div class="control">
                         <label class="label is-small">Documento</label>  
                         <div class="select">
                           <select name="ownerDocumentType" [(ngModel)]="model.ownerDocumentType" #ownerDocumentType="ngModel" [ngClass]="{'is-danger': ownerDocumentType.invalid && (ownerDocumentType.dirty || ownerDocumentType.touched)}"
                             required>
                             <option value="RG">RG</option>
                             <option value="CPF">CPF</option>                          
                             <option value="CNPJ">CNPJ</option>
                             <option value="RNA">RNA</option>
                             <option value="Passaporte">Passaporte</option>
                           </select>
                         </div>
                       </div>
                       <div class="form-control-feedback" *ngIf="ownerDocumentType.errors && (ownerDocumentType.dirty || ownerDocumentType.touched)">
                         <p class="help is-danger" *ngIf="ownerDocumentType.errors.required">Escolha um documento</p>
                       </div>
                     </div>

                     <div class="column is-9">
                       <label class="label is-small">Nº</label>
                       <div class="control">
                         <input  [disabled]="ownerDocumentType.invalid" 
                                 type="text" 
                                 class="input" 
                                 placeholder="Nº" 
                                 name="ownerDocumentId" 
                                 [(ngModel)]="model.ownerDocumentId"
                                 #ownerDocumentId="ngModel" 
                                 [ngClass]="{'is-danger': ownerDocumentId.invalid && (ownerDocumentId.dirty || ownerDocumentId.touched)}"
                           required>

                       </div>
                       <div class="form-control-feedback" *ngIf="ownerDocumentId.errors && (ownerDocumentId.dirty || ownerDocumentId.touched)">
                         <p class="help is-danger" *ngIf="ownerDocumentId.errors.required">Nº é obrigatório</p>
                       </div>
                      
                      
                     </div>
                     <div class="column is-6">
                       <div class="control">
                         <label class="label is-small">Telefone</label>
                         <input type="text" [textMask]="{mask: landlinephone}" class="input" placeholder="Telefone" name="ownerPhone" [(ngModel)]="model.ownerPhone"
                           required #ownerPhone="ngModel" [ngClass]="{'is-danger': ownerPhone.invalid && (ownerPhone.dirty || ownerPhone.touched)}">
                       </div>
                       <div class="form-control-feedback" *ngIf="ownerPhone.errors && (ownerPhone.dirty || ownerPhone.touched)">
                         <p class="help is-danger" *ngIf="ownerPhone.errors.required">Telefone é obrigatório</p>
                       </div>
                     </div>

                     <div class="column is-6">
                       <div class="control">
                         <label class="label is-small">Celular</label>
                         <input type="text" [textMask]="{mask: mobilephone}" class="input" placeholder="Celular" name="ownerCellPhone" [(ngModel)]="model.ownerCellPhone"
                           #ownerCellPhone="ngModel" [ngClass]="{'is-danger': ownerCellPhone.invalid && (ownerCellPhone.dirty || ownerCellPhone.touched)}" required>
                       </div>
                       <div class="form-control-feedback" *ngIf="ownerCellPhone.errors && (ownerCellPhone.dirty || ownerCellPhone.touched)">
                         <p class="help is-danger" *ngIf="ownerCellPhone.errors.required">Celular é obrigatório</p>
                       </div>
                     </div>


                      <div class="column is-12">
                        <label class="label is-small">Endereço/Região</label>  
                        <sga-places-auto-complete 
                          [keepTextAddress]="true"
                          (onPlacesFilteredEvent)="placesFiltered($event)" 
                          (onFilterRemovedEvent)="filterRemoved()">
                        </sga-places-auto-complete>
                      </div>

                      <div class="column is-3">
                        <div class="control">
                          <label class="label is-small">Número</label>
                          <input type="number" class="input" placeholder="Número" name="number" [(ngModel)]="model.number"
                            #number="ngModel" [ngClass]="{'is-danger': number.invalid && (number.dirty || number.touched)}" required>
                        </div>
                        <div class="form-control-feedback" *ngIf="number.errors && (number.dirty || number.touched)">
                          <p class="help is-danger" *ngIf="number.errors.required">Número é obrigatório</p>
                        </div>
                      </div>
                      <div class="column is-9">
                        <div class="control">
                          <label class="label is-small">Complemento</label>
                          <input type="text" class="input" placeholder="Complemento" name="complement" [(ngModel)]="model.complement"
                            #complement="ngModel">
                        </div>
                      
                      </div>

                      <div class="column is-12">
                        <div class="control">
                          <label class="label is-small">Raio</label>
                          <input 
                            type="number" 
                            class="input is-small" 
                            [(ngModel)]="radius"
                            (ngModelChange)="onRayChanged($event)"
                            placeholder="Raio"
                            name="radius" 
                            ngModel />
                        </div>
                      </div>

                    </div>
                    <div class="columns column  is-multiline">
                       <div class="column is-12 map"> 
                        <sga-map></sga-map>
                      </div>            
                    </div>
                    

                    
                </div>
              </sga-tab>

         
        </sga-tabs>
            <!-- Botões de Ação -->
        <div class="cnt-buttons">
        
            
              <input type="button" class="button" (click)="cancel()" value="Cancelar"/>
            
                  
              <button type="submit"
                      class="button is-first"
                      [disabled]="formVehicle.invalid">Cadastrar
              </button>
            
          
        </div>
      </form>
  
    </div>
  </div>
</div>