html{
  overflow-y:hidden;
}

body {
    
    font-family: 'Open Sans',sans-serif;
}
div, *{
  margin:0;
  padding:O;
}
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: rgba(54,54,54,0.75) !important;
}


/* You can add global styles to this file, and also import other style files */

/* GRID **************************************************************************/
  .main-content{
    background-color: #f5f7fa;
    position: absolute; 
    top: 44px; 
    bottom: 0px; 
    left: 52px; 
    right: 0px
  }
  .box-shadow{
    background-color: #FFF;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  }
  .content-wrapper {
    
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    top: 54px;
  }
  
  .container-grid .ui-datatable-wrapper .ui-datatable-header,
  .grid-associate .ui-datatable-wrapper .ui-datatable-header{
        padding:0 !important;
    }

  .material-header {
    height: 54px;
    border-top:1px solid #ececec;
  }

/* DIALOGS ********************************************************************/
  

.cnt-img{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #eee;
}
.places-ac {
    color:#8c8a8a;
    font-size:0.89rem !important;
}

.material-header-heading {
  height: 54px;
  width: 150px;
  float: left;
  text-align: center;
  line-height: 54px;
  
  span {
    font-size: 15px;
    color: #3c465c;
    letter-spacing: 2px;
    font-weight: 300;
  }
  
  i {
    margin: 0px 12px;
    font-size: 16px;
    color: #e2e3e4;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.mapboxgl-map {
  position: absolute;
  width: 100%;
  height: 100%;
}



.map-tabs {
  display: block;
  width: 100%;
  list-style-type: none;
  height: 42px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-sidabar {
  width: 361px;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 54px;
  left: 0px;
  bottom: 0px;
  border-right: 1px solid;
  color: #bbbbbb;
}

.map-tabs > li {
  float: left;
  line-height: 40px;
  width: 120px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  background: rgba(186, 187, 189, 0.95);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.map-tabs > li.active {
  cursor: default;
  background-color: rgba(253, 253, 253, 0);
  border-right-color: #777777;
}

.map-tabs > li.active > .ui-tabview-tab-title {
  color: #3a4358;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.map-tabs > .ui-tabview-tab > .ui-tabview-tab-title {
  color: #ffffff;
}

.motorist-map-table {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: scroll;
}

.motorist-map-table > table > tbody > tr > td {
  padding: 8px !important;
  font-size: 14px !important;
  vertical-align: top;
  color: rgb(210, 210, 210);
  text-shadow: 1px 1px 2px #000;
}

.motorist-map-table > table > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
  cursor: pointer;
}


/* SLIM SCROLL ************************/
.container-grid-vehicle .slimscroll-wrapper{
    height:94% !important;
}
.container-grid .slimscroll-bar.slimscroll-bar.slimscroll-bar,
.grid-associate .slimscroll-bar.slimscroll-bar.slimscroll-bar{
  right: 1px !important;
  width: 6px !important;
  background: rgba(156, 159, 165, 0.4) !important;
}
.container-grid .slimscroll-grid.slimscroll-grid.slimscroll-grid,
.grid-associate .slimscroll-bar.slimscroll-bar.slimscroll-bar{
  width: 6px !important;
  right: -1px !important;
  background:#e6e2e2  !important;
}
.container-grid-map .slimscroll-wrapper{
    height:92% !important;
}
.container-grid-wrapper .slimscroll-wrapper,
.grid-associate .slimscroll-wrapper {
    height: 87% !important;
    border-bottom: 1px solid #e2e6ec;
}






.cnt-tab-historico .slimscroll-wrapper{
    height:100% !important;
}
.container-form .slimscroll-wrapper {
    height:100% !important;
}
.cnt-dialog-vehicle .slimscroll-bar.slimscroll-bar.slimscroll-bar{
    height: 378px !important;
  }


.motorist-map-table-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.45);
  float: left;
  padding: 8px 0px;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0px;
}

.motorist-map-table-footer > select {
  float: right;
  width: 48px;
  margin: 0px 12px;
  background: rgb(23, 28, 35);
  border: 1px solid #000;
  height: 26px;
  color: #e4e4e5;
  text-shadow: 1px 1px 1px #000;
}

.map-table-position-icon {
  font-size: 24px !important;
  line-height: 34px !important;
  color: #476894 !important;
  width: 100%;
  text-align: center;
}

.map-table-event-icon {
  font-size: 20px !important;
  line-height: 34px !important;
  color: #6f794a !important;
  width: 100%;
  text-align: center;
}

.motorist-map-table-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
}

.destination-marker {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 22px;
  background-image: url("/assets/images/ic_marker_green.png");
}

.ui-listview{
  background: #fff;
  list-style-type: none;
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 100%;
}

/*************************************** MAPBOX Leaflet *********************************************/

.leaflet-container {
  width: 100%;
  height: 100%;
}

/******************************************** MAPBOX ************************************************/

.mapboxgl-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.motorist-marker {
  width: 50px;
  height: 62px;
  background-image: url("/assets/images/ic_marker_motorist_green.png");
  position: absolute;
  animation-duration: 1s;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.motorist-marker-image {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 6px 6px;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
  }
  40% {
      -webkit-transform: translateY(-30px);
  }
  60% {
      -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/******************************* ADMIN ******************************/

.admin-dialog {
  position: absolute;
  top: 68px;
  left: 12px;
  right: 12px;
  bottom: 12px;
}

.admin-header {
  width: 100%;
  height: 44px;
  background-color: #dedede;
}

.admin-header-title {
  display: inline-block;
  margin: 12px;
  font-size: 18px;
}

.admin-section {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.admin-section-header {
  color: rgb(56, 66, 91);
  padding: 10px 0px;
  font-size: 14px;
}

.admin-section-item {
  padding: 12px;
  margin-top: 4px;
}

.admin-list {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 0px 12px;
  border-radius: 3px;
  border: 1px solid #ebecf0;
  background: rgba(74, 88, 121, 0);
  overflow: auto;
}

.admin-list > .list-view-empty {
  top: 50%;
  position: absolute;
  margin-top: -12px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  padding: 0px 14px;

}

.admin-error-dialog-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.admin-error-dialog {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -246px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 3px;
  color: #4a5879;
  text-align: center;
  box-shadow: 0px 0px 3px #888;
  width: 492px;
  font-family: 'Varela Round', sans-serif;
  border-radius: 8px;
}

.admin-changes-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -80px;
  background-color: rgba(0, 0, 0, 0.81);
  box-shadow: 0px 0px 3px #000;
  text-align: center;
  width: 200px;
  padding: 12px 0px;
  color: #fff;
  display: block;
  font-family: 'Varela Round', sans-serif;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #000000;
}

.m-top {
  margin-top: 2em;
}

.p-start {
  padding: 1em;
}


// GRID GENERIC
/* Grid Motorist SCSS ************************************************/
.input-filter{
  border-bottom: 1px solid rgba(54,54,54,0.65);
  border-top:0;
  border-right:0;
  border-left:0;
  border-radius:0;
  outline:0;
}
.input-filter:focus {  
    border-color: none;
    -webkit-box-shadow: 0 0 0 0em rgba(50,115,220,0);
    box-shadow: 0 0 0 0em rgba(50,115,220,0);
}

.inner-addon{ 
  width: 300px; 
  margin: 0px 0px 20px 0px;
}
.container-grid{
    top: 65px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

//* BAterry
.battery-level {
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    width: 48px;
    margin-top: 10px;
}

.battery-level-body {
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    width: 46px;
    height: 18px;
    background-color: rgb(176, 178, 181);
    line-height: 18px;
    padding: 0px 3px;
    font-size: 12px;
    color: #3c3c3c;
    text-shadow: 0px 0px 1px #fff;
    position: absolute;
}

.battery-level-charge {
    height: 100%;
    position: absolute;
    border-radius: 4px;
    top: 0px;
    left: 0px;
}

.battery-level-text {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
