html{
  overflow-y:hidden;
}

body {
  font-family: 'Open Sans',sans-serif;
}

div, *{
  margin:0;
  padding:O;
}
.toggle-sidebar {
    background: #737d96;
    color: #FFF;
    padding: 4px 12px;
    position: absolute;
    left: 389px;
    z-index: 9;
    top: 15px;
    font-size: 32px;
    -webkit-box-shadow: inset 2px -1px 12px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: inset 2px -1px 12px 0px rgba(0,0,0,0.37);
    box-shadow: inset 2px -1px 12px 0px rgba(0,0,0,0.37);
    transition: all 400ms ease;
    &:hover{
      background-color: #7d859b;
      color:#FFF;
    }

}
.toggleButtonSidebar {
    left: 0;
    i{
    transform:rotate(180deg);
  }
}
.closeSidebar{
   left: -389px !important;
}
.mapWide{
  left: 0 !important;
}



span.item-context-menu{    
    transition:all 151ms ease;
    margin-right: 15px;
    display: block;
}
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: rgba(54,54,54,0.75) !important;
}

$bg-titles: #4d5675;
.label {
  color: #737373 !important;
}

//MAP ADJUSTMENTS
.leaflet-right .leaflet-control{
  margin: 69px 37px 0px 0px;
}
// .leaflet-pane.leaflet-map-pane{  
//   transform: translate3d(110px, -182px, 0px) !important;
// }

// Our Components | Buttons
.button.is-first {
    background-color: #4d5675;    
    border-color: transparent;
    color: #ffffff;
    transition:all 150ms ease;

    &:hover{
      background-color: #5c6587;          
    }
}
.button.is-dark-blue{
    background-color: #4f5564;    
    border-color: transparent;
    color: #ffffff;
    transition:all 150ms ease;

    &:hover{
      background-color: #636a7d;          
    }
}





/* AUTO COMPLETE*/
.autocomplete-suggestion {
    width: 100%;
    border-bottom: 1px solid #eee;
    background: #fff;
    line-height: 38px;
    height: 38px;
    cursor: pointer;
    &:hover {
        background-color: #eee;
        
    }
}
.autocomplete-suggestion.focus {
  background-color: #eee;
  cursor: pointer;
}
.cnt-places-autocomplete{
  padding: 18px 0;
}
.places-autocomplete{
  input{
    background: none;
    border: none;
    color:#FFF;
    border-bottom: 1px solid #858594;
    box-shadow:none;
    font-size: 14px;
    font-weight:300;
    &:hover{
      border-color: #858594;
    }
    &:focus {
      outline: none;
      border-color: #858594;
      box-shadow: none;
      
    ~ span i{
        color: rgba(206,209,220,0.8) !important;
      }
    }
    &::-webkit-input-placeholder{
         color: rgba(206,209,220,0.8) !important;
    }
  }
  span{
     color: rgba(206,209,220,0.8) !important;
  }
}

// MAP SEARCH
.cnt-map{
    position: relative;
    height: 100%;
    top:-10px;
}
.back-button{
  position: absolute;
  top: 12px;
  left: 10px;
  background: rgba(255,255,255,0.95);
  padding: 10px;
  font-size: 13px;
  color: #727188;
}
.map-center-bar {
  position: absolute;
  width: 90%;
  max-width: 750px;
  margin: auto;
  right: 0;
  left: 0;
  top: 12px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 998;
  padding: 6px 1px 6px 10px;
  
  .icon{
    color: #a59a9a !important;
    font-size: 13.5px !important;
  }

  input{
    border:none;
    box-shadow:none;
    &:focus{
      border:none;
      outline:none;
      box-shadow: none;
    }
  }
}
.menu-map-center {
  align-items: center;
  margin-right: 12px;
  display: flex;
  a {
    font-size: 22px;
    color: #cecece;
  }
}

//Radio Map Select
.cnt-select-map{
  background:#FFF;
  position: absolute;
  top: 36px;
  opacity: 0;
  padding: 7px 12px;
  left: 0px;
  transition: all 200ms ease;
}
.cnt-select-map.opened{
  top: 41px;
  opacity: 1;

}


.leaflet-container .leaflet-control-attribution {
    background: none !important;
}
.container {
  position: relative;
  padding: 0 12px 0 24px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
}

// Create Custom CheckBox
.styled-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #ccc;
    transition: all 100ms ease;
  }

  // Box checked
  &:checked + label:before {
    background: #ff4141;
  }
  // Checked
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}


/* Create Custom Radio */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 18px;
  width: 18px;
  background-color: #FFF;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  }


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e41b1b;
}


// HEADER by CONTEXT
.map-open{
    color: #8d8e9e;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    span{
        padding-left:6px;
    }
}
.header-content{
  width: calc(100% - 278px);
  position: relative;
  top: 19px;
  justify-content: space-between;
}
.breadcrumb{
  position:relative;
  z-index:12;
  flex-wrap:wrap;
  z-index:999;
  margin-bottom:0 !important;
  margin-left: 21px;
  width: 77%;
  ul{
    width:100% !important;
    li a {
        font-size: 12px !important;
        color: #c10000 !important;
        text-transform: uppercase;
    }
    li.is-active a{
       color: #929292  !important;
    }
  
 }
}

.breadcrumb li+li::before {
    color: #dcd7d7  !important;
  }
  .breadcrumb h5{
    color: #929292;
    line-height: 13px;
    text-transform: uppercase;
  }


.header-content-right{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 27px;
    position: relative;
    > div{
      margin: 10px 13px;
    }
    &:after{
        position: absolute;
        content:"";
        width:1px;
        height: 34px;
        right: 14px;
        top: 20px;
        background:#cecece;
    }
}


/* GRID **************************************************************************/
  .main-content{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50px;
    right: 0px;
  }
  .content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    top: 43px;
  }



  /* Trip **************************************************************************/
  .content-trip{
    position: absolute;
    left: 23px;
    right: 12px;
    bottom: 33px;
    top: 47px;
    
  }
    .trip-header{
      background: #FFF;
      margin: 0;
      padding: 0px 0;
      height: 83px;
    }
  
  .container-grid .ui-datatable-wrapper .ui-datatable-header,
  .grid-associate .ui-datatable-wrapper .ui-datatable-header{
        padding:0 !important;
    }

  .material-header {
    height: 54px;
    border-top:1px solid #ececec;
  }

/* DIALOGS ********************************************************************/


.modal-box{
    position: fixed;
    z-index:99999;
    background-color: rgba(0,0,0,.6);
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    opacity: 0;
    transition:
      opacity .3s  .3s ease,
      width   .01s .6s, 
      height  .01s .6s;
    
}
.opened-modal{
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity .3s ease;
}
.modal-box.opened-modal .content-modal {
    opacity: 1;
    transition: all .3s .3s ease;
    transform: translateY(0);
  }
.content-modal{
  opacity:0;
  transition: all .3s ease;
  transform: translateY(-25px);
}



.grid-spacing-search{
  padding:20px;
}

.cnt-img{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #eee;
}
.places-ac {
    color:#8c8a8a;
    font-size:0.89rem !important;
}

.material-header-heading {
  height: 54px;
  width: 150px;
  float: left;
  text-align: center;
  line-height: 54px;
  
  span {
    font-size: 15px;
    color: #3c465c;
    letter-spacing: 2px;
    font-weight: 300;
  }
  
  i {
    margin: 0px 12px;
    font-size: 16px;
    color: #e2e3e4;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.mapboxgl-map {
  position: absolute;
  z-index:10;
  width: 100%;
  height: 100%;
}



.map-tabs {
  display: block;
  width: 100%;
  list-style-type: none;
  height: 42px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-sidabar {
  width: 361px;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 54px;
  left: 0px;
  bottom: 0px;
  border-right: 1px solid;
  color: #bbbbbb;
}

.map-tabs > li {
  float: left;
  line-height: 40px;
  width: 120px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  background: rgba(186, 187, 189, 0.95);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.map-tabs > li.active {
  cursor: default;
  background-color: rgba(253, 253, 253, 0);
  border-right-color: #777777;
}

.map-tabs > li.active > .ui-tabview-tab-title {
  color: #3a4358;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.map-tabs > .ui-tabview-tab > .ui-tabview-tab-title {
  color: #ffffff;
}

.motorist-map-table {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: scroll;
}

.motorist-map-table > table > tbody > tr > td {
  padding: 8px !important;
  font-size: 14px !important;
  vertical-align: top;
  color: rgb(210, 210, 210);
  text-shadow: 1px 1px 2px #000;
}

.motorist-map-table > table > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
  cursor: pointer;
}


// SLIM SCROLL ************************/
.container-grid .slimscroll-wrapper{
    height:86% !important;
}
// .container-grid .slimscroll-bar.slimscroll-bar.slimscroll-bar,
// .grid-associate .slimscroll-bar.slimscroll-bar.slimscroll-bar{
//   right: 1px !important;
//   width: 6px !important;
//   background: rgba(156, 159, 165, 0.4) !important;
// }
// .container-grid .slimscroll-grid.slimscroll-grid.slimscroll-grid,
// .grid-associate .slimscroll-bar.slimscroll-bar.slimscroll-bar{
//   width: 6px !important;
//   right: -1px !important;
//   background:#e6e2e2  !important;
// }
// .container-grid-map .slimscroll-wrapper{
//     height:92% !important;
// }
// .container-grid-wrapper .slimscroll-wrapper,
// .grid-associate .slimscroll-wrapper {
//     height: 84% !important;
//     border-bottom: 1px solid #e2e6ec;
// }






.cnt-tab-historico .slimscroll-wrapper{
    height:100% !important;
}
.container-form .slimscroll-wrapper {
    height:100% !important;
}
.cnt-dialog-vehicle .slimscroll-bar.slimscroll-bar.slimscroll-bar{
    height: 378px !important;
  }


.motorist-map-table-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.45);
  float: left;
  padding: 8px 0px;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0px;
}

.motorist-map-table-footer > select {
  float: right;
  width: 48px;
  margin: 0px 12px;
  background: rgb(23, 28, 35);
  border: 1px solid #000;
  height: 26px;
  color: #e4e4e5;
  text-shadow: 1px 1px 1px #000;
}

.map-table-position-icon {
  font-size: 24px !important;
  line-height: 34px !important;
  color: #476894 !important;
  width: 100%;
  text-align: center;
}

.map-table-event-icon {
  font-size: 20px !important;
  line-height: 34px !important;
  color: #6f794a !important;
  width: 100%;
  text-align: center;
}

.motorist-map-table-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
}

.destination-marker {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 22px;
  background-image: url("/assets/images/ic_marker_green.png");
}

.ui-listview{
  background: #fff;
  list-style-type: none;
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 100%;
}

/*************************************** MAPBOX Leaflet *********************************************/

.leaflet-container {
  width: 100%;
  height: 100%;
}

/******************************************** MAPBOX ************************************************/

.icon-marker {
  width: 4em;
  text-align: center;
  position: absolute;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  .icon-body {
    vertical-align: middle;
    font-size: 2em;
    margin-top: .666em;
    padding: .55em;
    border-radius: 1em;
    width: 100%;
  }
}
.mapboxgl-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.motorist-marker {
  width: 50px;
  height: 62px;
  background-image: url("/assets/images/ic_marker_motorist_green.png");
  position: absolute;
  animation-duration: 1s;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.motorist-marker-image {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 6px 6px;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
  }
  40% {
      -webkit-transform: translateY(-30px);
  }
  60% {
      -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/******************************* ADMIN ******************************/

.admin-dialog {
  position: absolute;
  top: 68px;
  left: 12px;
  right: 12px;
  bottom: 12px;
}

.admin-header {
  width: 100%;
  height: 44px;
  background-color: #dedede;
}

.admin-header-title {
  display: inline-block;
  margin: 12px;
  font-size: 18px;
}

.admin-section {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.admin-section-header {
  color: rgb(56, 66, 91);
  padding: 10px 0px;
  font-size: 14px;
}

.admin-section-item {
  padding: 12px;
  margin-top: 4px;
}

.admin-list {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 0px 12px;
  border-radius: 3px;
  border: 1px solid #ebecf0;
  background: rgba(74, 88, 121, 0);
  overflow: auto;
}

.admin-list > .list-view-empty {
  top: 50%;
  position: absolute;
  margin-top: -12px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  padding: 0px 14px;

}

.admin-error-dialog-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.admin-error-dialog {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -246px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 3px;
  color: #4a5879;
  text-align: center;
  box-shadow: 0px 0px 3px #888;
  width: 492px;
  font-family: 'Varela Round', sans-serif;
  border-radius: 8px;
}

.admin-changes-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -80px;
  background-color: rgba(0, 0, 0, 0.81);
  box-shadow: 0px 0px 3px #000;
  text-align: center;
  width: 200px;
  padding: 12px 0px;
  color: #fff;
  display: block;
  font-family: 'Varela Round', sans-serif;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #000000;
}

.m-top {
  margin-top: 2em;
}

.p-start {
  padding: 1em;
}


// GRID GENERIC
/* Grid Motorist SCSS ************************************************/
.input-filter{
  border-bottom: 1px solid rgba(54,54,54,0.65);
  border-top:0;
  border-right:0;
  border-left:0;
  border-radius:0;
  outline:0;
}
.input-filter:focus {  
    border-color: none;
    -webkit-box-shadow: 0 0 0 0em rgba(50,115,220,0);
    box-shadow: 0 0 0 0em rgba(50,115,220,0);
}

.inner-addon{ 
  width: 300px; 
  margin: 0px 0px 20px 0px;
}
.container-grid{
  top: 65px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

//* BAterry
.battery-level {
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    width: 48px;
    margin-top: 10px;
}

.battery-level-body {
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    width: 46px;
    height: 18px;
    background-color: rgb(176, 178, 181);
    line-height: 18px;
    padding: 0px 3px;
    font-size: 12px;
    color: #3c3c3c;
    text-shadow: 0px 0px 1px #fff;
    position: absolute;
}

.battery-level-charge {
    height: 100%;
    position: absolute;
    border-radius: 4px;
    top: 0px;
    left: 0px;
}

.battery-level-text {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.no-margin {
  margin: 0 !important;
}