<div [class]="styleClass">
  <input class="input" #input (keyup)="onKeyUp($event)" (focus)="onFocus()" (keydown)="onKeyDown($event)" [placeholder]="placeholder">
  <div *ngIf="hasFocus && suggestions !== null">
    <ul *ngFor="let suggestion of suggestions; let i = index">
      <li (click)="onSelect(suggestion)" [class.focus]="suggestionIndex == i">
        <ng-template [ngTemplateOutletContext]="{item: suggestion}" [ngTemplateOutlet]="template"></ng-template>
      </li>
    </ul>
  </div>
  <div *ngIf="hasFocus && suggestions !== null && suggestions.length === 0 && !searching">
    <ul>
      <li (click)="noSuggestionClick()">
        <span>{{noSuggestionsText}}</span>
      </li>
      <li>
        <p (click)="create()" style="cursor: pointer;">
          <i class="fa fa-plus"></i> Criar
          <b>"{{input.value}}"</b>
        </p>
      </li>
    </ul>
  </div>
</div>
<ng-content></ng-content>
