<div [class]="styleClass">
  <p class="control has-icons-left">
    <input class="input" #input (keyup)="onKeyUp($event)" (focus)="onFocus()" (keydown)="onKeyDown($event)" [placeholder]="placeholder">
    <span class="icon is-left">
      <i class="fal fa-search"></i>
    </span>       
  </p>
  <div *ngIf="hasFocus && suggestions !== null">
    <ul *ngFor="let suggestion of suggestions; let i = index">
      <li (click)="onSelect(suggestion)" [class.focus]="suggestionIndex == i">
        <ng-template [ngTemplateOutletContext]="{item: suggestion}" [ngTemplateOutlet]="template"></ng-template>
      </li>
    </ul>
  </div>
  <div *ngIf="hasFocus && suggestions !== null && suggestions.length === 0 && !searching">
    <ul>
      <li (click)="noSuggestionClick()">
        <span>{{noSuggestionsText}}</span>
      </li>
      <li>
        <p (click)="create()" class="button create is-light">
          <i class="fal fa-plus"></i> 
          <span> Criar</span>
          <b> "{{input.value}}"</b>
        </p>
      </li>
    </ul>
  </div>
</div>
<ng-content></ng-content>
