.area-map input.input{
   border-radius: 2px !important;
    font-size: .75rem !important;
}

.autocomplete > input {
    width: 100%;
    padding: 11px;
    /*border-radius: 4px;*/
    border: 1px solid rgba(74, 88, 121, 0.4);

    &:focus {
        outline: 0;
        -webkit-box-shadow: 0px 0px 1px rgb(0, 121, 255);
        box-shadow: 0px 0px 1px rgb(0, 121, 255);
    }

}

.autocomplete > div {
  display: inline-block;
  background: #f9f9f9;
  position: absolute;
  z-index: 1;
  border: 1px solid #ffffff;
  left: 2px;
  right: 2px;
  box-shadow: 0px 0px 2px #7b7b7b;
}

.autocomplete > div > ul {
  list-style-type: none;
}

.autocomplete > div > ul > li.focus > .autocomplete-suggestion {
  background-color: #eee;
  cursor: pointer;
}

