.has-height{
  width: 97.7%;
    height: 100%;
}
.cnt-autocomplete{
  position: relative;
}

.wrapper {
 

  .sidebar,
  .detail {
    height: 100%;
    padding: 4px 10px 0 10px;
  }

  .sidebar {
    position: absolute;
    width: 377px;

    .header{     
      display: flex;
      justify-content: space-between;     
      align-items: center;
      height: 7%;

      h3{
        font-weight:bold;
        color: #38425b;
        padding: 0 0 6px 0;
        font-size: 13px;
      }
    }

    .content {
      height: 11%;
    }
  }

  .detail {
    position: absolute;
    left: 369px;
    right: 0;
  }
}